# *Import Libraries*

In [1]:
import pandas as pd

# *Load Spreadsheet*
Data is loaded from kawal Covid19:
- https://docs.google.com/spreadsheets/d/1ma1T9hWbec1pXlwZ89WakRk-OfVUQZsOCFl4FwZxzVw/htmlview
- https://datawrapper.dwcdn.net/MwHOx/247/
- https://datawrapper.dwcdn.net/BA77E/183/
- https://datawrapper.dwcdn.net/0p5op/157/

In [2]:
from __future__ import print_function
import pickle
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request


def get_table(area):
    # If modifying these scopes, delete the file token.pickle.
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

    # The ID and range of a sample spreadsheet.
    SAMPLE_SPREADSHEET_ID = '1yu1tnqVAIi6NxujAB0Cx-JBee3WAG5AofiBSj5KKRk8'
    SAMPLE_RANGE_NAME = area
    
    """Shows basic usage of the Sheets API.
    Prints values from a sample spreadsheet.
    """
    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)


    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
    values = result.get('values', [])
    
    return values

In [3]:
# Daily statistics
values = get_table('Statistik Harian!A1:AJ241')
df_statistics = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_statistics', 'wb')
pickle.dump(df_statistics, outfile)
outfile.close()

df_statistics

,,Kasus baru,Kasus Impor,Kasus Lokal,Total kasus,Kasus aktif,% kasus aktif,Sembuh\n(baru),Sembuh,Tingkat kesembuhan (seluruh kasus),...,Test/Positif,Jumlah org yg dites / positif,Jumlah Test/Positif harian,Positif / Jumlah Tes,Positive rate harian,Case Growth Rate,Positive rate mingguan,Jumlah spesimen diperiksa (rata-rata 7 hari),Jumlah orang diperiksa (rata-rata 7 hari),Rasio spesimen/orang diperiksa (rata-rata 7 hari)
0,2-Mar,2,0,2,2,2,100.00%,0,0,0.00%,...,169.50,169.50,0.00,0.59%,None,None,None,None,None,None
1,3-Mar,0,0,0,2,2,100.00%,0,0,0.00%,...,170.50,170.50,#DIV/0!,0.59%,0.00%,0.00%,None,None,None,None
2,4-Mar,0,0,0,2,2,100.00%,0,0,0.00%,...,186.00,186.00,#DIV/0!,0.54%,0.00%,0.00%,None,None,None,None
3,5-Mar,0,0,0,2,2,100.00%,0,0,0.00%,...,194.00,194.00,#DIV/0!,0.52%,0.00%,0.00%,None,None,None,None
4,6-Mar,2,0,2,4,4,100.00%,0,0,0.00%,...,112.50,112.50,31.00,0.89%,3.77%,100.00%,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,24-Oct,4070,,,385980,"63,556",16.47%,"4,119","309,219",80.11%,...,11.12,7.02,7.73,14.24%,12.94%,1.07%,13.74%,"39,056","29,334",1.33
236,25-Oct,3732,,,389712,"62,649",16.08%,"4,545","313,764",80.51%,...,11.10,7.01,5.09,14.27%,19.65%,0.97%,13.79%,"38,687","28,845",1.34
237,26-Oct,3222,,,392934,"61,851",15.74%,"3,908","317,672",80.85%,...,11.07,7.00,5.91,14.29%,16.92%,0.83%,14.15%,"36,995","27,964",1.32
238,27-Oct,3520,,,396454,"60,694",15.31%,"4,576","322,248",81.28%,...,11.07,7.01,8.15,14.27%,12.26%,0.90%,14.17%,"37,910","27,841",1.36
239,28-Oct,4029,,,400483,"61,078",15.25%,"3,545","325,793",81.35%,...,11.06,7.00,6.79,14.28%,14.73%,1.02%,14.28%,"37,480","27,376",1.37

In [78]:
# Province summary
values = get_table('Kasus per Provinsi!A2:BC36')
df_province_summary = pd.DataFrame(values[1:], columns=values[0])
df_province_summary = df_province_summary.iloc[:,[18,21,25,31,35,39,40,41,42,43,44,45,46,47,48,49,50,51]]
df_province_summary.iloc[:,1:] = df_province_summary.iloc[:,1:].apply(pd.to_numeric).fillna(0)
df_province_summary.set_index('Provinsi Asal', inplace=True)

# outfile = open('files/df_province_summary', 'wb')
# pickle.dump(df_province_summary, outfile)
# outfile.close()
df_province_summary.to_csv('files/df_province_summary.csv', sep=';')

df_province_summary

,ODP Total,PDP,Suspect Total,Probable Total,Rapid Test,Kasus (+) Rapid Test,Tes PCR (Sampel),Tes PCR (Sampel +),Tes PCR (Sampel -),Tes PCR (Kasus Baru),Result (+),Result (-),Covid19+ Total,Covid19+ Dirawat,Covid19+ Sembuh,Covid19+ Meninggal,Covid19+ Isolasi
Provinsi Asal,,,,,,,,,,,,,,,,,
Aceh,0,0,3544,450,0,0,0,0,0,0,0,0,7265,1543,5460,262,0
Bali,0,0,0,0,0,0,0,0,0,0,0,0,11520,781,10361,378,0
Banten,748,188,20089,39,0,0,0,0,0,0,0,0,9013,1308,7423,282,0
Bangka Belitung,0,2048,0,0,0,0,0,0,0,6044,566,5478,566,64,495,7,0
Bengkulu,2989,0,0,0,0,0,0,0,0,9695,1017,8678,1017,244,725,48,0
DI Yogyakarta,1507,212,13714,3947,0,0,0,0,0,0,0,0,3617,557,2971,89,0
DKI Jakarta,0,0,175710,3913,573373,26321,1.64791e+06,223628,1.42428e+06,1.22484e+06,102678,1.12216e+06,102678,2680,89060,2195,8743
Jambi,0,0,3289,0,0,0,7897,1156,6741,0,0,0,1156,592,542,22,0
Jawa Barat,0,0,83061,1595,363033,7351,536891,51669,480735,351173,40403,308743,35447,5931,28171,981,364
Jawa Tengah,13721,3840,32771,1846,0,0,0,0,0,0,0,0,39036,2326,31857,2817,2036
Jawa Timur,0,0,47811,813,1.03332e+06,116684,0,0,0,430686,51506,379180,51506,1025,45950,3704,827
Kalimantan Barat,17899,1053,0,0,0,0,0,0,0,0,0,0,1577,0,1304,12,261
Kalimantan Timur,0,0,75835,0,0,0,0,0,0,88627,13348,75279,13348,2708,10175,465,0
Kalimantan Tengah,0,0,5137,77,0,0,0,0,0,20523,4243,0,4243,316,3776,151,0
Kalimantan Selatan,5091,987,0,0,0,0,0,0,0,0,0,0,11662,664,10521,477,0
Kalimantan Utara,0,0,3786,46,0,0,4001,4001,4001,4784,783,4001,783,112,664,7,0
Kepulauan Riau,0,0,0,0,0,0,0,0,0,0,0,0,3534,830,2612,92,0
Nusa Tenggara Barat,0,0,12212,66,0,0,35150,5887,29251,33169,3906,29251,3934,490,3225,219,0
Sumatera Selatan,0,0,21717,327,45297,1146,0,0,0,33682,7581,21527,7581,396,6121,410,654
Sumatera Barat,10210,1466,458,0,0,0,273386,17469,255917,209158,13375,195783,13375,514,8108,249,4504
Sulawesi Utara,0,0,0,88,122,44,0,0,0,0,0,0,5242,598,4445,199,0
Sumatera Utara,0,0,0,0,0,0,53874,12745,0,0,0,0,12745,1845,10376,524,0
Sulawesi Tenggara,13846,214,0,0,130,16,0,0,0,19431,4713,14718,4713,1287,3346,80,0
Sulawesi Selatan,0,0,11339,237,0,0,0,0,0,0,0,0,18155,668,16124,451,912
Sulawesi Tengah,1810,232,0,0,0,0,0,0,0,0,0,0,838,202,603,33,0
Lampung,0,0,3767,125,0,0,0,0,0,0,0,0,1686,518,1100,68,0
Riau,97580,2508,45998,0,63384,868,0,0,0,138142,13996,124146,13996,530,10269,313,2884
Maluku Utara,820,674,0,0,0,0,0,0,0,0,0,0,2188,186,1928,74,0
Maluku,745,0,0,0,0,0,0,0,0,0,0,0,3722,555,3120,47,0
Papua Barat,0,0,2773,24,0,0,0,0,0,24085,3974,24085,3974,552,3359,63,0
Papua,15966,2258,0,0,0,0,54103,54103,54103,70774,9071,54103,9071,3402,5524,145,0
Sulawesi Barat,1978,152,0,0,0,0,0,0,0,0,0,0,988,30,784,12,162
Nusa Tenggara Timur,0,0,2424,8,15092,610,7086,909,5377,0,0,0,669,198,464,7,0
Gorontalo,0,0,4540,2,12634,410,12807,12807,12807,15812,3005,12807,3005,45,2878,82,0

In [5]:
# Age group
values = get_table('Tingkat Kematian!A4:L10')
df_age = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_age', 'wb')
pickle.dump(df_age, outfile)
outfile.close()

df_age

,Kel. Usia,Proporsi,Kasus dg data usia,Proporsi,Sembuh dg data usia,% sembuh,Proporsi,Dirawat dg data usia,% dirawat,Proporsi,Kematian dg data usia,Tingkat kematian
0,0-5,2.50%,"9,525",2.60%,"8,060",84.62%,2.70%,"1,361",14.29%,0.80%,104,1.09%
1,6-17,8.10%,"30,862",8.30%,"25,730",83.37%,6.40%,"5,015",16.25%,0.90%,117,0.38%
2,18-30,24.80%,"94,490",25.50%,"79,051",83.66%,22.00%,"14,972",15.84%,3.60%,467,0.49%
3,31-45,30.90%,"117,731",31.60%,"97,961",83.21%,30.00%,"18,069",15.35%,13.10%,"1,701",1.44%
4,46-59,23.40%,"89,156",22.90%,"70,991",79.63%,26.30%,"13,153",14.75%,38.60%,"5,012",5.62%
5,â‰¥60,10.40%,"39,625",9.10%,"28,210",71.19%,12.60%,"5,818",14.68%,43.10%,"5,597",14.12%

In [73]:
# PCR
values = get_table('Copy of Data PCR - Kemenkes!B2:W36')
df_pcr = pd.DataFrame(values[1:], columns=values[0])
df_pcr = df_pcr.iloc[:,[0,2,9,10,11,12,13,14,15,16,17,18,19,20,21]]
df_pcr.iloc[:,1:12] = df_pcr.iloc[:,1:12].apply(pd.to_numeric).fillna(0)
df_pcr.set_index('Provinsi Asal', inplace=True)

outfile = open('pickle files/df_pcr', 'wb')
pickle.dump(df_pcr, outfile)
outfile.close()

df_pcr

,Jumlah Pemeriksaan Sample PCR,suspect,Jumlah PCR+TCM,Penduduk,Probable,Negatif,PR+TCM/1 jt,T,P,S,MD,Check sum,Positivity Rate,Testing Ratio
Provinsi Asal,,,,,,,,,,,,,,
Aceh,1265,2381,2295,5459891,0,1729,420,79,52,25,2,ok,4.37%,22.9
Bali,20130,3927,32378,4380824,802,22628,7391,1414,630,771,13,ok,5.88%,17.0
Banten,18283,1224,4968,1517590,7,4013,3274,149,16,131,2,ok,3.58%,27.9
Bangka Belitung,3139,12701,25096,13160496,2486,13599,1907,1438,731,628,79,ok,9.56%,10.5
Bengkulu,739,1009,1317,2019848,17,485,652,125,26,89,10,ok,20.49%,4.9
DI Yogyakarta,10706,9379,15513,3882288,114,9717,3996,306,38,260,8,ok,3.05%,32.8
DKI Jakarta,160240,104597,232848,10644986,1134,154048,21874,11114,4624,5865,625,ok,6.73%,14.9
Jambi,330,3930,5095,1219576,35,4171,4178,243,40,195,8,ok,5.51%,18.2
Jawa Barat,53600,2603,330,3677894,7,0,90,117,48,69,0,ok,100.00%,1.0
Jawa Tengah,38080,65116,72585,49935858,841,44866,1453,3091,1396,1520,175,ok,6.45%,15.5
Jawa Timur,38075,58128,53895,34940078,614,27772,1542,3482,2266,1066,150,ok,11.14%,9.0
Kalimantan Barat,1323,39583,58595,39872395,1552,30045,1470,11508,6957,3720,831,ok,27.69%,3.6
Kalimantan Timur,4642,14768,2375,5134760,50,1505,463,321,58,259,4,ok,17.58%,5.7
Kalimantan Tengah,5443,1116,14519,4303979,140,7900,3373,3003,2098,723,182,ok,27.54%,3.6
Kalimantan Selatan,10199,431,7304,2769156,77,3554,2638,834,446,335,53,ok,19.01%,5.3
Kalimantan Utara,1199,13097,8020,3793152,15,5238,2114,503,121,375,7,ok,8.76%,11.4
Kepulauan Riau,4398,2370,1199,768505,6,789,1560,201,45,154,2,ok,20.30%,4.9
Nusa Tenggara Barat,8561,8069,5439,2242198,40,3119,2426,293,44,233,16,ok,8.59%,11.6
Sumatera Selatan,18291,3688,2924,8521201,19,1979,343,188,28,148,12,ok,8.68%,11.5
Sumatera Barat,29038,167,3876,1831880,4,2116,2116,711,466,230,15,ok,25.15%,4.0
Sulawesi Utara,5565,105,374,1278764,24,0,292,719,585,103,31,ok,100.00%,1.0
Sumatera Utara,8840,8356,10325,5125622,45,5723,2014,1199,344,802,53,ok,17.32%,5.8
Sulawesi Tenggara,508,1966,5014,5541394,8,4101,905,113,72,40,1,ok,2.68%,37.3
Sulawesi Selatan,31575,3548,15742,3435430,24,10504,4582,1696,1057,632,7,ok,13.90%,7.2
Sulawesi Tengah,923,1353,2143,981822,2,1635,2183,236,81,152,3,ok,12.61%,7.9
Lampung,2168,80843,10373,7128305,76,6615,1455,224,75,139,10,ok,3.28%,30.5
Riau,5739,1841,265,1405012,7,0,189,114,29,83,2,ok,100.00%,1.0
Maluku Utara,374,9592,45888,8928004,156,27575,5140,4807,2926,1718,163,ok,14.84%,6.7
Maluku,2227,1213,1372,3096976,7,836,443,186,28,153,5,ok,18.20%,5.5
Papua Barat,1493,64,508,2755589,10,0,184,343,116,221,6,ok,100.00%,1.0
Papua,12054,567,7755,2528794,116,5154,3067,1057,809,172,76,ok,17.02%,5.9
Sulawesi Barat,265,10965,40298,5498751,157,31471,7329,725,107,587,31,ok,2.25%,44.4
Nusa Tenggara Timur,3443,9196,25213,8567923,170,17895,2943,2000,965,954,81,ok,10.05%,9.9
Gorontalo,4100,6816,14692,14703532,113,9836,999,1467,992,384,91,ok,12.98%,7.7

In [7]:
# Timeline total case each province
values = get_table('Timeline!A1:AI225')
df_total_case = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_total_case', 'wb')
pickle.dump(df_total_case, outfile)
outfile.close()

df_total_case

,Total Kasus,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,18-Mar,0,1,17,0,0,3,158,0,24,...,0,1,1,0,0,0,0,0,0,0
1,19-Mar,0,1,27,0,0,5,210,0,26,...,0,1,2,0,0,0,0,0,0,0
2,20-Mar,0,4,37,0,0,4,215,0,41,...,0,1,1,0,0,0,0,0,0,0
3,21-Mar,0,3,43,0,0,5,267,0,55,...,0,1,1,0,0,0,0,0,0,0
4,22-Mar,0,3,47,0,0,5,307,0,59,...,0,1,1,0,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,23 Oct,"7,037","11,203","8,458",544,961,"3,462","99,158","1,092","33,147",...,787,"1,522","12,877","2,187","3,650","3,858","8,512",971,634,"2,975"
220,24 Oct,"7,125","11,279","8,563",549,969,"3,506","100,220","1,118","33,568",...,799,"1,551","13,257","2,188","3,718","3,879","8,569",978,649,"2,982"
221,25 Oct,"7,212","11,388","8,794",553,995,"3,550","100,991","1,140","33,924",...,817,"1,601","13,547","2,188","3,739","3,885","8,618",987,652,"3,001"
222,26 Oct,"7,252","11,455","8,914",554,995,"3,576","101,897","1,149","34,355",...,821,"1,646","13,752","2,192","3,739","3,891","8,785",988,653,"3,003"
223,27 Oct,"7,265","11,520","9,038",566,"1,017","3,617","102,678","1,156","34,745",...,838,"1,686","13,998","2,193","3,772","3,974","8,785",997,667,"3,005"

In [8]:
# Timeline daily case each province
values = get_table('Timeline!A228:AI456')
df_daily_case = pd.DataFrame(values[1:], columns=values[0])
df_daily_case = df_daily_case.fillna(0).replace('', 0)

outfile = open('pickle files/df_daily_case', 'wb')
pickle.dump(df_daily_case, outfile)
outfile.close()

df_daily_case

,Kasus Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,15-Mar,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16-Mar,0,0,1,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
2,17-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18-Mar,0,0,4,0,0,1,30,0,12,...,0,1,1,0,0,0,0,0,0,0
4,19-Mar,0,0,10,0,0,2,52,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,24 Oct,88,76,105,5,8,44,"1,062",26,421,...,12,29,380,1,68,21,57,7,15,7
224,25 Oct,87,109,231,4,26,44,771,22,356,...,18,50,290,0,21,6,49,9,3,19
225,26 Oct,40,67,120,1,0,26,906,9,431,...,4,45,205,4,0,6,167,1,1,2
226,27 Oct,13,65,124,12,22,41,781,7,390,...,17,40,246,1,33,83,0,9,14,2
227,28 Oct,74,68,170,7,23,45,844,32,403,...,10,43,253,3,13,106,125,3,2,2

In [9]:
# Timeline active case each province
values = get_table('Timeline!A228:AI456')
df_active_case = pd.DataFrame(values[1:], columns=values[0])
df_active_case = df_active_case.fillna(0).replace('', 0)

outfile = open('pickle files/df_active_case', 'wb')
pickle.dump(df_active_case, outfile)
outfile.close()

df_active_case

,Kasus Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,15-Mar,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16-Mar,0,0,1,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
2,17-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18-Mar,0,0,4,0,0,1,30,0,12,...,0,1,1,0,0,0,0,0,0,0
4,19-Mar,0,0,10,0,0,2,52,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,24 Oct,88,76,105,5,8,44,"1,062",26,421,...,12,29,380,1,68,21,57,7,15,7
224,25 Oct,87,109,231,4,26,44,771,22,356,...,18,50,290,0,21,6,49,9,3,19
225,26 Oct,40,67,120,1,0,26,906,9,431,...,4,45,205,4,0,6,167,1,1,2
226,27 Oct,13,65,124,12,22,41,781,7,390,...,17,40,246,1,33,83,0,9,14,2
227,28 Oct,74,68,170,7,23,45,844,32,403,...,10,43,253,3,13,106,125,3,2,2

In [10]:
# Timeline total recovered each province
values = get_table('Timeline!A682:AI904')
df_total_recovered = pd.DataFrame(values[1:], columns=values[0])
df_total_recovered = df_total_recovered.fillna(0).replace('', 0)

outfile = open('pickle files/df_total_recovered', 'wb')
pickle.dump(df_total_recovered, outfile)
outfile.close()

df_total_recovered

,Sembuh,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,1,0,0,1,17,0,1,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,0,1,0,0,1,22,0,5,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,24 Oct,"5,037","10,144","6,455",473,760,"2,842","85,492",447,"22,676",...,519,939,"9,097","1,928","2,926","2,836","4,533",763,443,"2,817"
218,25 Oct,"5,037","10,226","6,574",475,768,"2,910","86,721",501,"23,143",...,558,941,"9,654","1,928","3,024","3,075","4,533",784,443,"2,835"
219,26 Oct,"5,037","10,285","6,835",482,773,"2,939","87,883",521,"23,585",...,590,941,"9,905","1,928","3,083","3,093","4,598",784,443,"2,838"
220,27 Oct,"5,037","10,361","6,936",495,785,"2,971","89,017",542,"24,140",...,603,941,"10,203","1,928","3,120","3,358","4,598",816,449,"2,839"
221,28 Oct,"5,037","10,397","7,030",510,788,"3,013","90,064",574,"24,507",...,613,977,"10,467","1,928","3,158","3,478","4,637",816,463,"2,839"

In [11]:
# Timeline daily recovered each province
values = get_table('Timeline!A906:AI1128')
df_daily_recovered = pd.DataFrame(values[1:], columns=values[0])
df_daily_recovered = df_daily_recovered.fillna(0).replace('', 0)

outfile = open('pickle files/df_daily_recovered', 'wb')
pickle.dump(df_daily_recovered, outfile)
outfile.close()

df_daily_recovered

,Sembuh Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,0,0,0,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,0,0,0,0,0,5,0,4,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,24 Oct,0,89,88,2,0,36,"1,155",22,654,...,7,0,278,0,42,91,0,19,9,2
218,25 Oct,0,82,119,2,8,68,"1,229",54,467,...,39,2,557,0,98,239,0,21,0,18
219,26 Oct,0,59,261,7,5,29,"1,162",20,442,...,32,0,251,0,59,18,65,0,0,3
220,27 Oct,0,76,101,13,12,32,"1,134",21,555,...,13,0,298,0,37,265,0,32,6,1
221,28 Oct,0,36,94,15,3,42,"1,047",32,367,...,10,36,264,0,38,120,39,0,14,0

In [12]:
# Timeline total death each province
values = get_table('Timeline!A1130:AI1355')
df_total_death = pd.DataFrame(values[1:], columns=values[0])
df_total_death = df_total_death.fillna(0).replace('', 0)

outfile = open('pickle files/df_total_death', 'wb')
pickle.dump(df_total_death, outfile)
outfile.close()

df_total_death

,Meninggal Dunia,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,18-Mar,0,1,1,0,0,0,12,0,1,...,0,0,0,0,0,0,0,0,0,0
1,19-Mar,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20-Mar,0,1,1,0,0,0,18,0,7,...,0,0,0,0,0,0,0,0,0,0
3,21-Mar,0,1,2,0,0,0,23,0,7,...,0,0,0,0,0,0,0,0,0,0
4,22-Mar,0,2,3,0,0,0,29,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,24 Oct,250,371,250,7,47,88,"2,146",21,668,...,33,61,300,74,45,61,119,12,7,81
221,25 Oct,251,372,258,7,48,88,"2,164",21,679,...,33,61,303,74,45,61,119,12,7,85
222,26 Oct,256,374,261,7,48,88,"2,177",21,694,...,33,64,307,74,45,63,124,12,7,85
223,27 Oct,260,378,261,7,48,89,"2,188",22,708,...,33,68,313,74,47,63,124,12,7,85
224,28 Oct,266,380,262,7,48,90,"2,204",23,714,...,34,70,319,75,47,65,129,14,7,85

In [13]:
# Timeline total death each province
values = get_table('Timeline!A1357:AI1578')
df_daily_death = pd.DataFrame(values[1:], columns=values[0])
df_daily_death = df_daily_death.fillna(0).replace('', 0)

outfile = open('pickle files/df_daily_death', 'wb')
pickle.dump(df_daily_death, outfile)
outfile.close()

df_daily_death

,Meninggal Dunia Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,1,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,1,1,0,0,0,6,0,2,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,1,0,0,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,24 Oct,6,10,2,0,1,0,20,0,19,...,2,3,9,0,1,2,0,0,0,0
217,25 Oct,1,1,8,0,1,0,18,0,11,...,0,0,3,0,0,0,0,0,0,4
218,26 Oct,5,2,3,0,0,0,13,0,15,...,0,3,4,0,0,2,5,0,0,0
219,27 Oct,4,4,0,0,0,1,11,1,14,...,0,4,6,0,2,0,0,0,0,0
220,28 Oct,6,2,1,0,0,1,16,1,6,...,1,2,6,1,0,2,5,2,0,0