# *Import Libraries*

In [1]:
import pandas as pd
import datetime as dt
import geopandas as gpd

# *Load Spreadsheet*
Data is loaded from kawal Covid19:
- https://docs.google.com/spreadsheets/d/1ma1T9hWbec1pXlwZ89WakRk-OfVUQZsOCFl4FwZxzVw/htmlview
- https://datawrapper.dwcdn.net/MwHOx/247/
- https://datawrapper.dwcdn.net/BA77E/183/
- https://datawrapper.dwcdn.net/0p5op/157/

In [2]:
from __future__ import print_function
import pickle
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request


def get_table(area):
    # If modifying these scopes, delete the file token.pickle.
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

    # The ID and range of a sample spreadsheet.
    SAMPLE_SPREADSHEET_ID = '1zvIBRuuumGSf69v8aiDTxSrRg5t8OVcT-CGkuCPiFJY'
    SAMPLE_RANGE_NAME = area
    
    """Shows basic usage of the Sheets API.
    Prints values from a sample spreadsheet.
    """
    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)


    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
    values = result.get('values', [])
    
    return values

Since the data are collected from several sources, the name of provinces are not consitent, we need to make them consistent.

In [3]:
abbr = {
    'Aceh' : 'Aceh',
    'Bali' : 'Bali',
    'Banten' : 'Banten',
    'Bangka Belitung' : 'Babel',
    'Bangka-Belitung' : 'Babel',
    'Bengkulu' : 'Bengkulu',
    'DI Yogyakarta' : 'DIY',
    'DKI Jakarta' : 'Jakarta',
    'Jakarta Raya': 'Jakarta',
    'Gorontalo' : 'Gorontalo',
    'Jambi' : 'Jambi', 
    'Jawa Barat' : 'Jabar', 
    'Jawa Tengah' : 'Jateng', 
    'Jawa Timur' : 'Jatim', 
    'Kalimantan Barat' : 'Kalbar', 
    'Kalimantan Tengah' : 'Kalteng', 
    'Kalimantan Timur' : 'Kaltim',
    'Kalimantan Selatan' : 'Kalsel', 
    'Kalimantan Utara' : 'Kaltara', 
    'Kep Riau' : 'Kepri',
    'Kepulauan Riau' : 'Kepri',
    'Lampung' : 'Lampung', 
    'Maluku' : 'Maluku', 
    'Maluku Utara' : 'Malut', 
    'Nusa Tenggara Barat' : 'NTB', 
    'Nusa Tenggara Timur' : 'NTT', 
    'Papua' : 'Papua', 
    'Papua Barat' : 'Papbar', 
    'Irian Jaya Barat' : 'Papbar',
    'Sulawesi Barat' : 'Sulbar', 
    'Riau' : 'Riau', 
    'Sulawesi Selatan' : 'Sulsel', 
    'Sulawesi Tengah' : 'Sulteng', 
    'Sulawesi Tenggara' : 'Sultra', 
    'Sulawesi Utara' : 'Sulut', 
    'Sumatera Barat' : 'Sumbar',
    'Sumatera Selatan' : 'Sumsel', 
    'Sumatera Utara' : 'Sumut'
}

In [4]:
# Daily statistics
values = get_table('Statistik Harian!A1:AJ244')
df_statistics = pd.DataFrame(values[1:], columns=values[0])
df_statistics.rename(columns={'':'Date'}, inplace=True)

date_list = pd.date_range(start='03/02/2020', end='31/10/2020', freq='D')
date_list = date_list.drop(dt.datetime.strptime('2020-03-11', '%Y-%m-%d'))
df_statistics['Date'] = date_list

outfile = open('files/df_statistics', 'wb')
pickle.dump(df_statistics, outfile)
outfile.close()

df_statistics

,Date,Kasus baru,Kasus Impor,Kasus Lokal,Total kasus,Kasus aktif,% kasus aktif,Sembuh\n(baru),Sembuh,Tingkat kesembuhan (seluruh kasus),...,Test/Positif,Jumlah org yg dites / positif,Jumlah Test/Positif harian,Positif / Jumlah Tes,Positive rate harian,Case Growth Rate,Positive rate mingguan,Jumlah spesimen diperiksa (rata-rata 7 hari),Jumlah orang diperiksa (rata-rata 7 hari),Rasio spesimen/orang diperiksa (rata-rata 7 hari)
0,2020-03-02,2,0,2,2,2,100.00%,0,0,0.00%,...,169.50,169.50,0.00,0.59%,None,None,None,None,None,None
1,2020-03-03,0,0,0,2,2,100.00%,0,0,0.00%,...,170.50,170.50,#DIV/0!,0.59%,0.00%,0.00%,None,None,None,None
2,2020-03-04,0,0,0,2,2,100.00%,0,0,0.00%,...,186.00,186.00,#DIV/0!,0.54%,0.00%,0.00%,None,None,None,None
3,2020-03-05,0,0,0,2,2,100.00%,0,0,0.00%,...,194.00,194.00,#DIV/0!,0.52%,0.00%,0.00%,None,None,None,None
4,2020-03-06,2,0,2,4,4,100.00%,0,0,0.00%,...,112.50,112.50,31.00,0.89%,3.77%,100.00%,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,2020-10-27,3520,,,396454,"60,694",15.31%,"4,576","322,248",81.28%,...,11.07,7.01,8.15,14.27%,12.26%,0.90%,14.17%,"37,910","27,841",1.36
239,2020-10-28,4029,,,400483,"61,078",15.25%,"3,545","325,793",81.35%,...,11.06,7.00,6.79,14.28%,14.73%,1.02%,14.28%,"37,480","27,376",1.37
240,2020-10-29,3565,,,404048,"60,569",14.99%,"3,985","329,778",81.62%,...,11.05,7.01,7.12,14.27%,14.04%,0.89%,14.44%,"36,107","26,230",1.38
241,2020-10-30,2897,,,406945,"58,868",14.47%,"4,517","334,295",82.15%,...,11.03,7.01,8.04,14.26%,12.45%,0.72%,14.37%,"33,616","24,887",1.35
242,2020-10-31,3143,,,410088,"58,418",14.25%,"3,506","337,801",82.37%,...,11.02,7.03,8.74,14.23%,11.45%,0.77%,14.16%,"32,056","24,315",1.32

In [5]:
# Province summary
values = get_table('Kasus per Provinsi!A2:BC36')
df_province_summary = pd.DataFrame(values[1:], columns=values[0])
df_province_summary = df_province_summary.iloc[:,[18,21,25,31,35,39,40,41,42,43,44,45,46,47,48,49,50,51]]
df_province_summary.iloc[:,1:] = df_province_summary.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_province_summary.set_index('Provinsi Asal', inplace=True)
df_province_summary.rename(columns={'Covid19+ \nMeninggal':'Covid19+ Meninggal'}, index=abbr, inplace=True)

outfile = open('files/df_province_summary', 'wb')
pickle.dump(df_province_summary, outfile)
outfile.close()
df_province_summary.to_csv('files/df_province_summary.csv', sep=';')

df_province_summary

,ODP Total,PDP,Suspect Total,Probable Total,Rapid Test,Kasus (+) Rapid Test,Tes PCR (Sampel),Tes PCR (Sampel +),Tes PCR (Sampel -),Tes PCR (Kasus Baru),Result (+),Result (-),Covid19+ Total,Covid19+ Dirawat,Covid19+ Sembuh,Covid19+ Meninggal,Covid19+ Isolasi
Provinsi Asal,,,,,,,,,,,,,,,,,
Aceh,0,0,3544,450,0,0,0,0,0,0,0,0,7426,1504,5650,272,0
Bali,0,0,0,0,0,0,0,0,0,0,0,0,11807,737,10681,389,0
Banten,748,188,20460,40,0,0,0,0,0,0,0,0,9425,1190,7940,295,0
Babel,0,2066,0,0,0,0,0,0,0,6163,587,5576,587,54,526,7,0
Bengkulu,3258,0,0,0,0,0,0,0,0,10125,1082,9043,1082,277,755,50,0
DIY,1507,212,13948,3975,0,0,0,0,0,0,0,0,3851,598,3160,93,0
Jakarta,0,0,185855,3961,573873,26321,1.69858e+06,231154,1.46743e+06,1.28852e+06,106205,1.18231e+06,106205,2178,94819,2273,6935
Jambi,0,0,3309,0,0,0,8228,1230,6998,0,0,0,1230,588,619,23,0
Jabar,0,0,84211,1650,363033,7351,549971,53919,491493,351173,40403,308743,37710,5881,30459,1034,336
Jateng,13736,3827,33509,1875,0,0,0,0,0,0,0,0,41398,2566,33621,2957,2254
Jatim,0,0,50099,825,1.02799e+06,115196,0,0,0,442753,52718,390035,52718,956,47201,3776,785
Kalbar,18259,1095,0,0,0,0,0,0,0,0,0,0,1675,0,1335,21,319
Kaltim,0,0,80335,0,0,0,0,0,0,93227,14259,78968,14259,2522,11250,487,0
Kalteng,0,0,5176,77,0,0,0,0,0,13631,4325,0,4325,276,3898,151,0
Kalsel,5091,987,0,0,0,0,0,0,0,0,0,0,11881,533,10861,487,0
Kaltara,0,0,3820,46,0,0,4169,4169,4169,4998,829,4169,829,116,706,7,0
Kepri,0,0,0,0,0,0,0,0,0,0,0,0,3833,1041,2698,94,0
NTB,0,0,12398,64,0,0,35514,5939,29563,33523,3948,29563,3992,493,3277,222,0
Sumsel,0,0,22199,329,45394,1194,0,0,0,35944,7903,23345,7903,368,6431,423,681
Sumbar,10210,1466,441,0,0,0,288615,19597,269018,217410,14762,202648,14762,490,10519,280,3473
Sulut,0,0,1526,94,81,13,0,0,0,0,0,0,5428,638,4585,205,0
Sumut,0,0,0,0,0,0,0,0,0,0,0,0,13198,1884,10778,536,0
Sultra,14194,215,0,0,0,0,0,0,0,0,0,0,5070,1046,3942,82,0
Sulsel,0,0,11339,237,0,0,0,0,0,0,0,0,18370,685,16551,467,667
Sulteng,1810,232,0,0,0,0,0,0,0,0,0,0,876,190,652,34,0
Lampung,0,0,3782,126,0,0,0,0,0,0,0,0,1851,533,1240,78,0
Riau,97580,2508,46719,0,63384,868,0,0,0,147037,14830,132207,14830,669,11402,338,2421
Malut,820,674,0,0,0,0,0,0,0,0,0,0,2188,186,1928,74,0
Maluku,0,0,0,0,0,0,0,0,0,0,0,0,3863,584,3232,47,0
Papbar,0,0,2861,24,0,0,0,0,0,24675,4189,20486,4189,468,3655,66,0
Papua,15966,2451,0,0,0,0,54103,54103,54103,77682,9590,54103,9590,3032,6408,150,0
Sulbar,1978,152,0,0,0,0,0,0,0,0,0,0,1036,50,840,14,132
NTT,0,0,2441,8,15095,612,7431,928,5488,0,0,0,694,184,502,8,0
Gorontalo,0,0,4551,2,12634,410,12823,12823,12823,15844,3021,12823,3021,47,2892,82,0

In [6]:
# Age group
values = get_table('Tingkat Kematian!A4:L10')
df_age = pd.DataFrame(values[1:], columns=values[0])
df_age.iloc[:,[2,4,7,10]] = df_age.iloc[:,[2,4,7,10]].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)

outfile = open('files/df_age', 'wb')
pickle.dump(df_age, outfile)
outfile.close()

df_age

,Kel. Usia,Proporsi,Kasus dg data usia,Proporsi,Sembuh dg data usia,% sembuh,Proporsi,Dirawat dg data usia,% dirawat,Proporsi,Kematian dg data usia,Tingkat kematian
0,0-5,2.50%,9525,2.60%,8060,84.62%,2.70%,1361,14.29%,0.80%,104,1.09%
1,6-17,8.10%,30862,8.30%,25730,83.37%,6.40%,5015,16.25%,0.90%,117,0.38%
2,18-30,24.80%,94490,25.50%,79051,83.66%,22.00%,14972,15.84%,3.60%,467,0.49%
3,31-45,30.90%,117731,31.60%,97961,83.21%,30.00%,18069,15.35%,13.10%,1701,1.44%
4,46-59,23.40%,89156,22.90%,70991,79.63%,26.30%,13153,14.75%,38.60%,5012,5.62%
5,≥60,10.40%,39625,9.10%,28210,71.19%,12.60%,5818,14.68%,43.10%,5597,14.12%

In [7]:
# PCR
values = get_table('Copy of Data PCR - Kemenkes!B2:W36')
df_pcr = pd.DataFrame(values[1:], columns=values[0])
df_pcr = df_pcr.iloc[:,[0,2,9,10,11,12,13,14,15,16,17,18,19,20,21]]
df_pcr.iloc[:,1:12] = df_pcr.iloc[:,1:12].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_pcr.set_index('Provinsi Asal', inplace=True)
df_pcr.rename(index=abbr, inplace=True)

outfile = open('files/df_pcr', 'wb')
pickle.dump(df_pcr, outfile)
outfile.close()

df_pcr

,Jumlah Pemeriksaan Sample PCR,suspect,Jumlah PCR+TCM,Penduduk,Probable,Negatif,PR+TCM/1 jt,T,P,S,MD,Check sum,Positivity Rate,Testing Ratio
Provinsi Asal,,,,,,,,,,,,,,
Aceh,1265,2381,2295,5459891,0,1729,420,79,52,25,2,ok,4.37%,22.9
Bali,20130,3927,32378,4380824,802,22628,7391,1414,630,771,13,ok,5.88%,17.0
Banten,18283,1224,4968,1517590,7,4013,3274,149,16,131,2,ok,3.58%,27.9
Babel,3139,12701,25096,13160496,2486,13599,1907,1438,731,628,79,ok,9.56%,10.5
Bengkulu,739,1009,1317,2019848,17,485,652,125,26,89,10,ok,20.49%,4.9
DIY,10706,9379,15513,3882288,114,9717,3996,306,38,260,8,ok,3.05%,32.8
Jakarta,160240,104597,232848,10644986,1134,154048,21874,11114,4624,5865,625,ok,6.73%,14.9
Jambi,330,3930,5095,1219576,35,4171,4178,243,40,195,8,ok,5.51%,18.2
Jabar,53600,2603,330,3677894,7,0,90,117,48,69,0,ok,100.00%,1.0
Jateng,38080,65116,72585,49935858,841,44866,1453,3091,1396,1520,175,ok,6.45%,15.5
Jatim,38075,58128,53895,34940078,614,27772,1542,3482,2266,1066,150,ok,11.14%,9.0
Kalbar,1323,39583,58595,39872395,1552,30045,1470,11508,6957,3720,831,ok,27.69%,3.6
Kaltim,4642,14768,2375,5134760,50,1505,463,321,58,259,4,ok,17.58%,5.7
Kalteng,5443,1116,14519,4303979,140,7900,3373,3003,2098,723,182,ok,27.54%,3.6
Kalsel,10199,431,7304,2769156,77,3554,2638,834,446,335,53,ok,19.01%,5.3
Kaltara,1199,13097,8020,3793152,15,5238,2114,503,121,375,7,ok,8.76%,11.4
Kepri,4398,2370,1199,768505,6,789,1560,201,45,154,2,ok,20.30%,4.9
NTB,8561,8069,5439,2242198,40,3119,2426,293,44,233,16,ok,8.59%,11.6
Sumsel,18291,3688,2924,8521201,19,1979,343,188,28,148,12,ok,8.68%,11.5
Sumbar,29038,167,3876,1831880,4,2116,2116,711,466,230,15,ok,25.15%,4.0
Sulut,5565,105,374,1278764,24,0,292,719,585,103,31,ok,100.00%,1.0
Sumut,8840,8356,10325,5125622,45,5723,2014,1199,344,802,53,ok,17.32%,5.8
Sultra,508,1966,5014,5541394,8,4101,905,113,72,40,1,ok,2.68%,37.3
Sulsel,31575,3548,15742,3435430,24,10504,4582,1696,1057,632,7,ok,13.90%,7.2
Sulteng,923,1353,2143,981822,2,1635,2183,236,81,152,3,ok,12.61%,7.9
Lampung,2168,80843,10373,7128305,76,6615,1455,224,75,139,10,ok,3.28%,30.5
Riau,5739,1841,265,1405012,7,0,189,114,29,83,2,ok,100.00%,1.0
Malut,374,9592,45888,8928004,156,27575,5140,4807,2926,1718,163,ok,14.84%,6.7
Maluku,2227,1213,1372,3096976,7,836,443,186,28,153,5,ok,18.20%,5.5
Papbar,1493,64,508,2755589,10,0,184,343,116,221,6,ok,100.00%,1.0
Papua,12054,567,7755,2528794,116,5154,3067,1057,809,172,76,ok,17.02%,5.9
Sulbar,265,10965,40298,5498751,157,31471,7329,725,107,587,31,ok,2.25%,44.4
NTT,3443,9196,25213,8567923,170,17895,2943,2000,965,954,81,ok,10.05%,9.9
Gorontalo,4100,6816,14692,14703532,113,9836,999,1467,992,384,91,ok,12.98%,7.7

In [8]:
# Timeline total case each province
values = get_table('Timeline!A1:AI230')
df_total_case = pd.DataFrame(values[1:], columns=values[0])
df_total_case.iloc[:,1:] = df_total_case.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_total_case.rename(columns=abbr, inplace=True)

df_total_case.rename(columns={'Total Kasus':'Date'}, inplace=True)
df_total_case['Date'] = pd.date_range(start='03/18/2020', end='11/01/2020', freq='D')

outfile = open('files/df_total_case', 'wb')
pickle.dump(df_total_case, outfile)
outfile.close()

df_total_case

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-18,0,1,17,0,0,3,158,0,24,...,0,1,1,0,0,0,0,0,0,0
1,2020-03-19,0,1,27,0,0,5,210,0,26,...,0,1,2,0,0,0,0,0,0,0
2,2020-03-20,0,4,37,0,0,4,215,0,41,...,0,1,1,0,0,0,0,0,0,0
3,2020-03-21,0,3,43,0,0,5,267,0,55,...,0,1,1,0,0,0,0,0,0,0
4,2020-03-22,0,3,47,0,0,5,307,0,59,...,0,1,1,0,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020-10-28,7339,11588,9208,573,1040,3662,103522,1188,35148,...,848,1729,14251,2196,3785,4080,8910,1000,669,3007
225,2020-10-29,7373,11647,9299,578,1049,3744,104235,1219,35607,...,855,1757,14511,2196,3790,4088,8930,1000,679,3007
226,2020-10-30,7394,11712,9406,581,1081,3803,104847,1230,35927,...,855,1794,14672,2199,3790,4136,8992,1027,679,3017
227,2020-10-31,7405,11764,9490,583,1081,3835,105597,1230,36338,...,857,1825,14799,2199,3852,4149,9037,1029,681,3017
228,2020-11-01,7426,11821,9580,587,1082,3851,106205,1230,36583,...,876,1851,14830,2199,3863,4189,9037,1036,690,3021

In [9]:
# Timeline daily case each province
values = get_table('Timeline!A232:AI464')
df_daily_case = pd.DataFrame(values[1:], columns=values[0])
df_daily_case = df_daily_case.fillna(0).replace('', 0)
df_daily_case.iloc[:,1:] = df_daily_case.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_daily_case.rename(columns=abbr, inplace = True)

df_daily_case.rename(columns={'Kasus Harian':'Date'}, inplace=True)
df_daily_case['Date'] = pd.date_range(start='03/15/2020', end='11/01/2020', freq='D')

outfile = open('files/df_daily_case', 'wb')
pickle.dump(df_daily_case, outfile)
outfile.close()

df_daily_case

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-15,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-16,0,0,1,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-18,0,0,4,0,0,1,30,0,12,...,0,1,1,0,0,0,0,0,0,0
4,2020-03-19,0,0,10,0,0,2,52,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,2020-10-28,74,68,170,7,23,45,844,32,403,...,10,43,253,3,13,106,125,3,2,2
228,2020-10-29,34,59,91,5,9,82,713,31,459,...,7,28,260,0,5,8,20,0,10,0
229,2020-10-30,21,65,107,3,32,59,612,11,320,...,0,37,161,3,0,48,62,27,0,10
230,2020-10-31,11,52,84,2,0,32,750,0,411,...,2,31,127,0,62,13,45,2,2,0
231,2020-11-01,21,57,90,4,1,16,608,0,245,...,19,26,31,0,11,40,0,7,9,4

In [10]:
# Timeline active case each province
values = get_table('Timeline!A466:AI692')
df_active_case = pd.DataFrame(values[1:], columns=values[0])
df_active_case = df_active_case.fillna(0).replace('', 0)
df_active_case.iloc[:,1:] = df_active_case.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_active_case.rename(columns=abbr, inplace=True)

df_active_case.rename(columns={'Kasus Aktif':'Date'}, inplace=True)
df_active_case['Date'] = pd.date_range(start='03/21/2020', end='11/01/2020', freq='D')

outfile = open('files/df_active_case', 'wb')
pickle.dump(df_active_case, outfile)
outfile.close()

df_active_case

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-21,0,2,40,0,0,4,227,0,47,...,0,1,1,0,0,0,0,0,0,0
1,2020-03-22,0,1,43,0,0,4,256,0,45,...,0,1,1,0,1,0,2,0,0,0
2,2020-03-23,0,4,52,0,0,4,301,1,45,...,0,1,1,1,1,0,2,0,0,0
3,2020-03-24,0,4,60,0,0,4,370,1,45,...,0,1,2,1,1,0,3,0,0,0
4,2020-03-25,0,7,62,0,0,14,409,1,58,...,0,1,1,1,1,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,2020-10-28,2036,811,1916,56,204,559,11254,591,9927,...,201,682,3465,193,580,537,4144,170,199,83
222,2020-10-29,2070,812,1927,59,208,589,10875,603,9894,...,197,661,3498,193,557,530,4164,170,207,77
223,2020-10-30,2088,766,1850,62,230,587,10396,600,9854,...,193,673,3404,196,557,577,4226,190,174,85
224,2020-10-31,2098,853,1799,52,229,595,10095,588,9975,...,176,702,3301,196,573,483,4271,189,176,80
225,2020-11-01,2119,751,1781,54,230,598,9209,588,9580,...,190,653,3159,196,584,468,4271,182,184,83

In [11]:
# Timeline total recovered each province
values = get_table('Timeline!A694:AI920')
df_total_recovered = pd.DataFrame(values[1:], columns=values[0])
df_total_recovered = df_total_recovered.fillna(0).replace('', 0)
df_total_recovered.iloc[:,1:] = df_total_recovered.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_total_recovered.rename(columns=abbr, inplace=True)

df_total_recovered.rename(columns={'Sembuh':'Date'}, inplace=True)
df_total_recovered['Date'] = pd.date_range(start='03/21/2020', end='11/01/2020', freq='D')

outfile = open('files/df_total_recovered', 'wb')
pickle.dump(df_total_recovered, outfile)
outfile.close()

df_total_recovered

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-21,0,0,1,0,0,1,17,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-22,0,0,1,0,0,1,22,0,5,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-23,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-24,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-25,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,2020-10-28,5037,10397,7030,510,788,3013,90064,574,24507,...,613,977,10467,1928,3158,3478,4637,816,463,2839
222,2020-10-29,5037,10453,7108,512,793,3064,91142,593,24999,...,624,1023,10688,1928,3186,3493,4637,816,465,2845
223,2020-10-30,5037,10561,7290,512,803,3124,92219,607,25355,...,628,1047,10937,1928,3186,3494,4637,823,498,2847
224,2020-10-31,5037,10624,7422,524,803,3147,93251,619,25644,...,647,1047,11162,1928,3232,3601,4637,826,498,2852
225,2020-11-01,5037,10681,7528,526,803,3160,94726,619,26282,...,652,1120,11333,1928,3232,3655,4637,840,499,2853

In [12]:
# Timeline daily recovered each province
values = get_table('Timeline!A922:AI1148')
df_daily_recovered = pd.DataFrame(values[1:], columns=values[0])
df_daily_recovered = df_daily_recovered.fillna(0).replace('', 0)
df_daily_recovered.iloc[:,1:] = df_daily_recovered.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_daily_recovered.rename(columns=abbr, inplace=True)

df_daily_recovered.rename(columns={'Sembuh Harian':'Date'}, inplace=True)
df_total_recovered['Date'] = pd.date_range(start='03/21/2020', end='11/01/2020', freq='D')

outfile = open('files/df_daily_recovered', 'wb')
pickle.dump(df_daily_recovered, outfile)
outfile.close()

df_daily_recovered

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,0,0,0,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,0,0,0,0,0,5,0,4,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,28 Oct,0,36,94,15,3,42,1047,32,367,...,10,36,264,0,38,120,39,0,14,0
222,29 Oct,0,56,78,2,5,51,1078,19,492,...,11,46,221,0,28,15,0,0,2,6
223,30 Oct,0,108,182,0,10,60,1077,14,356,...,4,24,249,0,0,1,0,7,33,2
224,31 Oct,0,63,132,12,0,23,1032,12,289,...,19,0,225,0,46,107,0,3,0,5
225,1 Nov,0,57,106,2,0,13,1475,0,638,...,5,73,171,0,0,54,0,14,1,1

In [13]:
# Timeline total death each province
values = get_table('Timeline!A1150:AI1379')
df_total_death = pd.DataFrame(values[1:], columns=values[0])
df_total_death = df_total_death.fillna(0).replace('', 0)
df_total_death.iloc[:,1:] = df_total_death.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_total_death.rename(columns=abbr, inplace=True)

df_total_death.rename(columns={'Meninggal Dunia':'Date'}, inplace=True)
df_total_death['Date'] = pd.date_range(start='03/18/2020', end='11/01/2020', freq='D')

outfile = open('files/df_total_death', 'wb')
pickle.dump(df_total_death, outfile)
outfile.close()

df_total_death

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-18,0,1,1,0,0,0,12,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-19,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-20,0,1,1,0,0,0,18,0,7,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-21,0,1,2,0,0,0,23,0,7,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-22,0,2,3,0,0,0,29,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,2020-10-28,266,380,262,7,48,90,2204,23,714,...,34,70,319,75,47,65,129,14,7,85
225,2020-10-29,266,382,264,7,48,91,2218,23,714,...,34,73,325,75,47,65,129,14,7,85
226,2020-10-30,269,385,266,7,48,92,2232,23,718,...,34,74,331,75,47,65,129,14,7,85
227,2020-10-31,270,287,269,7,49,93,2251,23,719,...,34,76,336,75,47,65,129,14,7,85
228,2020-11-01,270,389,271,7,49,93,2270,23,721,...,34,78,338,75,47,66,129,14,7,85

In [14]:
# Timeline daily death each province
values = get_table('Timeline!A1381:AI1606')
df_daily_death = pd.DataFrame(values[1:], columns=values[0])
df_daily_death = df_daily_death.fillna(0).replace('', 0)
df_daily_death.iloc[:,1:] = df_daily_death.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_daily_death.rename(columns=abbr, inplace=True)

df_daily_death.rename(columns={'Meninggal Dunia Harian':'Date'}, inplace=True)
date_list = pd.date_range(start='03/21/2020', end='11/01/2020', freq='D')
date_list = date_list.drop(dt.datetime.strptime('2020-08-19', '%Y-%m-%d'))
df_daily_death['Date'] = date_list

outfile = open('files/df_daily_death', 'wb')
pickle.dump(df_daily_death, outfile)
outfile.close()

df_daily_death

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-21,0,0,1,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-22,0,1,1,0,0,0,6,0,2,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-24,0,0,1,0,0,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-25,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,2020-10-28,6,2,1,0,0,1,16,1,6,...,1,2,6,1,0,2,5,2,0,0
221,2020-10-29,0,2,2,0,0,1,14,0,0,...,0,3,6,0,0,0,0,0,0,0
222,2020-10-30,3,3,2,0,0,1,14,0,4,...,0,1,6,0,0,0,0,0,0,0
223,2020-10-31,1,2,3,0,1,1,19,0,1,...,0,2,5,0,0,0,0,0,0,0
224,2020-11-01,0,2,2,0,0,0,19,0,2,...,0,2,2,0,0,1,0,0,0,0

# *Other sources*
- Commute index: https://sirusa.bps.go.id/sirusa/index.php/dasar/view?kd=1545&th=2019 (page 56,72)
- PCR: https://databoks.katadata.co.id/datapublish/2020/09/30/rasio-tes-pcr-per-1-juta-penduduk-paling-tinggi-di-jakarta# (29 September 2020)

# *LOAD MAP FILE*
- Source: http://www.diva-gis.org/datadown
- Remove unnecessary columns
- Rename columns
- Rename province names
- Set province as index

In [15]:
df_geo = gpd.read_file('files/IDN_adm1.shp')
df_geo.drop(['ID_0', 'ISO', 'NAME_0', 'ID_1', 'TYPE_1', 'ENGTYPE_1', 'NL_NAME_1', 'VARNAME_1'], axis=1, inplace=True)
df_geo.rename(columns={'NAME_1':'province'}, inplace=True)
df_geo.replace(abbr, inplace=True)
df_geo.set_index('province', inplace=True)

outfile = open('files/df_geo', 'wb')
pickle.dump(df_geo, outfile)
outfile.close()

df_geo

                                                     geometry
province
Aceh        MULTIPOLYGON (((97.38493 1.97713, 97.38396 1.9...
Bali        MULTIPOLYGON (((115.62988 -8.77599, 115.63037 ...
Babel       MULTIPOLYGON (((108.06951 -3.80305, 108.06826 ...
Banten      MULTIPOLYGON (((105.54861 -6.99472, 105.54889 ...
Bengkulu    MULTIPOLYGON (((102.38627 -5.47112, 102.38682 ...
Gorontalo   MULTIPOLYGON (((122.12139 0.40583, 122.12167 0...
Papbar      MULTIPOLYGON (((133.50668 -4.32504, 133.50676 ...
Jakarta     MULTIPOLYGON (((106.73338 -6.09776, 106.73373 ...
Jambi       MULTIPOLYGON (((104.21628 -1.06326, 104.21578 ...
Jabar       MULTIPOLYGON (((107.85297 -7.73661, 107.85330 ...
Jateng      MULTIPOLYGON (((109.01002 -7.68037, 109.01002 ...
Jatim       MULTIPOLYGON (((114.02917 -8.64806, 114.02917 ...
Kalbar      MULTIPOLYGON (((110.20528 -3.06639, 110.20528 ...
Kalsel      MULTIPOLYGON (((117.05028 -5.08833, 117.05055 ...
Kalteng     MULTIPOLYGON (((113.36195 -3.28445, 113.36195 ...
Kaltim      MULTIPOLYGON (((117.94273 -2.53682, 117.94328 ...
Kaltara     MULTIPOLYGON (((117.61222 2.81333, 117.61222 2...
Kepri       MULTIPOLYGON (((104.41074 -0.86626, 104.40942 ...
Lampung     MULTIPOLYGON (((105.44666 -6.13285, 105.44806 ...
Malut       MULTIPOLYGON (((124.37479 -2.00665, 124.39085 ...
Maluku      MULTIPOLYGON (((126.08830 -9.03179, 126.08788 ...
NTB         MULTIPOLYGON (((117.19965 -9.01612, 117.20077 ...
NTT         MULTIPOLYGON (((122.86732 -10.96568, 122.86783...
Papua       MULTIPOLYGON (((138.92583 -8.32361, 138.92639 ...
Riau        MULTIPOLYGON (((103.64757 -0.23855, 103.64757 ...
Sulbar      MULTIPOLYGON (((119.35892 -3.48698, 119.35906 ...
Sulsel      MULTIPOLYGON (((121.80334 -7.49083, 121.80222 ...
Sulteng     MULTIPOLYGON (((123.15244 -3.55653, 123.15298 ...
Sultra      MULTIPOLYGON (((122.68833 -6.17778, 122.68945 ...
Sulut       MULTIPOLYGON (((124.35252 0.41743, 124.35217 0...
Sumbar      MULTIPOLYGON (((101.05139 -3.99194, 101.05361 ...
Sumsel      MULTIPOLYGON (((106.21500 -3.21528, 106.21528 ...
Sumut       MULTIPOLYGON (((98.50278 -0.59528, 98.50305 -0...
Yogyakarta  MULTIPOLYGON (((110.07694 -7.91583, 110.07750 ...