# *Import Libraries*

In [59]:
import pandas as pd
import datetime as dt

# *Load Spreadsheet*
Data is loaded from kawal Covid19:
- https://docs.google.com/spreadsheets/d/1ma1T9hWbec1pXlwZ89WakRk-OfVUQZsOCFl4FwZxzVw/htmlview
- https://datawrapper.dwcdn.net/MwHOx/247/
- https://datawrapper.dwcdn.net/BA77E/183/
- https://datawrapper.dwcdn.net/0p5op/157/

In [2]:
from __future__ import print_function
import pickle
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request


def get_table(area):
    # If modifying these scopes, delete the file token.pickle.
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

    # The ID and range of a sample spreadsheet.
    SAMPLE_SPREADSHEET_ID = '1ma1T9hWbec1pXlwZ89WakRk-OfVUQZsOCFl4FwZxzVw'
    SAMPLE_RANGE_NAME = area
    
    """Shows basic usage of the Sheets API.
    Prints values from a sample spreadsheet.
    """
    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)


    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
    values = result.get('values', [])
    
    return values

Since the data are collected from several sources, the name of provinces are not consitent, we need to make them consistent.

In [3]:
abbr = {
    'Aceh' : 'Aceh',
    'Bali' : 'Bali',
    'Banten' : 'Banten',
    'Bangka Belitung' : 'Babel',
    'Bengkulu' : 'Bengkulu',
    'DI Yogyakarta' : 'DIY',
    'DKI Jakarta' : 'Jakarta',
    'Gorontalo' : 'Gorontalo',
    'Jambi' : 'Jambi', 
    'Jawa Barat' : 'Jabar', 
    'Jawa Tengah' : 'Jateng', 
    'Jawa Timur' : 'Jatim', 
    'Kalimantan Barat' : 'Kalbar', 
    'Kalimantan Tengah' : 'Kalteng', 
    'Kalimantan Timur' : 'Kaltim',
    'Kalimantan Selatan' : 'Kalsel', 
    'Kalimantan Utara' : 'Kaltara', 
    'Kep Riau' : 'Kepri',
    'Kepulauan Riau' : 'Kepri',
    'Maluku' : 'Maluku', 
    'Maluku Utara' : 'Malut', 
    'Nusa Tenggara Barat' : 'NTB', 
    'Nusa Tenggara Timur' : 'NTT', 
    'Papua' : 'Papua', 
    'Papua Barat' : 'Papbar', 
    'Sumatera Barat' : 'Sumbar',
    'Sumatera Selatan' : 'Sumsel', 
    'Sumatera Utara' : 'Sumut', 
    'Sulawesi Barat' : 'Sulbar', 
    'Sulawesi Selatan' : 'Sulsel', 
    'Sulawesi Tengah' : 'Sulteng', 
    'Sulawesi Tenggara' : 'Sultra', 
    'Sulawesi Utara' : 'Sulut', 
    'Lampung' : 'Lampung', 
    'Riau' : 'Riau'
}

In [70]:
# Daily statistics
values = get_table('Statistik Harian!A1:AJ244')
df_statistics = pd.DataFrame(values[1:], columns=values[0])
df_statistics.rename(columns={'':'Date'}, inplace=True)

date_list = pd.date_range(start='03/02/2020', end='31/10/2020', freq='D')
date_list = date_list.drop(dt.datetime.strptime('2020-03-11', '%Y-%m-%d'))
df_statistics['Date'] = date_list

outfile = open('files/df_statistics', 'wb')
pickle.dump(df_statistics, outfile)
outfile.close()

df_statistics

,Date,Kasus baru,Kasus Impor,Kasus Lokal,Total kasus,Kasus aktif,% kasus aktif,Sembuh\n(baru),Sembuh,Tingkat kesembuhan (seluruh kasus),...,Test/Positif,Jumlah org yg dites / positif,Jumlah Test/Positif harian,Positif / Jumlah Tes,Positive rate harian,Case Growth Rate,Positive rate mingguan,Jumlah spesimen diperiksa (rata-rata 7 hari),Jumlah orang diperiksa (rata-rata 7 hari),Rasio spesimen/orang diperiksa (rata-rata 7 hari)
0,2020-03-02,2,0,2,2,2,100.00%,0,0,0.00%,...,169.50,169.50,0.00,0.59%,None,None,None,None,None,None
1,2020-03-03,0,0,0,2,2,100.00%,0,0,0.00%,...,170.50,170.50,#DIV/0!,0.59%,0.00%,0.00%,None,None,None,None
2,2020-03-04,0,0,0,2,2,100.00%,0,0,0.00%,...,186.00,186.00,#DIV/0!,0.54%,0.00%,0.00%,None,None,None,None
3,2020-03-05,0,0,0,2,2,100.00%,0,0,0.00%,...,194.00,194.00,#DIV/0!,0.52%,0.00%,0.00%,None,None,None,None
4,2020-03-06,2,0,2,4,4,100.00%,0,0,0.00%,...,112.50,112.50,31.00,0.89%,3.77%,100.00%,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,2020-10-27,3520,,,396454,"60,694",15.31%,"4,576","322,248",81.28%,...,11.07,7.01,8.15,14.27%,12.26%,0.90%,14.17%,"37,910","27,841",1.36
239,2020-10-28,4029,,,400483,"61,078",15.25%,"3,545","325,793",81.35%,...,11.06,7.00,6.79,14.28%,14.73%,1.02%,14.28%,"37,480","27,376",1.37
240,2020-10-29,3565,,,404048,"60,569",14.99%,"3,985","329,778",81.62%,...,11.05,7.01,7.12,14.27%,14.04%,0.89%,14.44%,"36,107","26,230",1.38
241,2020-10-30,2897,,,406945,"58,868",14.47%,"4,517","334,295",82.15%,...,11.03,7.01,8.04,14.26%,12.45%,0.72%,14.37%,"33,616","24,887",1.35
242,2020-10-31,3143,,,410088,"58,418",14.25%,"3,506","337,801",82.37%,...,11.02,7.03,8.74,14.23%,11.45%,0.77%,14.16%,"32,056","24,315",1.32

In [5]:
# Province summary
values = get_table('Kasus per Provinsi!A2:BC36')
df_province_summary = pd.DataFrame(values[1:], columns=values[0])
df_province_summary = df_province_summary.iloc[:,[18,21,25,31,35,39,40,41,42,43,44,45,46,47,48,49,50,51]]
df_province_summary.iloc[:,1:] = df_province_summary.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_province_summary.set_index('Provinsi Asal', inplace=True)
df_province_summary.rename(columns={'Covid19+ \nMeninggal':'Covid19+ Meninggal'}, index=abbr, inplace=True)

outfile = open('files/df_province_summary', 'wb')
pickle.dump(df_province_summary, outfile)
outfile.close()
df_province_summary.to_csv('files/df_province_summary.csv', sep=';')

df_province_summary

,ODP Total,PDP,Suspect Total,Probable Total,Rapid Test,Kasus (+) Rapid Test,Tes PCR (Sampel),Tes PCR (Sampel +),Tes PCR (Sampel -),Tes PCR (Kasus Baru),Result (+),Result (-),Covid19+ Total,Covid19+ Dirawat,Covid19+ Sembuh,Covid19+ Meninggal,Covid19+ Isolasi
Provinsi Asal,,,,,,,,,,,,,,,,,
Aceh,0,0,3544,450,0,0,0,0,0,0,0,0,7394,1601,5522,271,0
Bali,0,0,0,0,0,0,0,0,0,0,0,0,11764,753,10624,387,0
Banten,748,188,20280,40,0,0,0,0,0,0,0,0,9296,1218,7789,289,0
Babel,0,2062,0,0,0,0,0,0,0,6153,581,5572,581,62,512,7,0
Bengkulu,2980,0,0,0,0,0,0,0,0,10124,1081,9043,1081,279,755,47,0
DIY,1507,212,13900,3962,0,0,0,0,0,0,0,0,3803,587,3124,92,0
Jakarta,0,0,181900,3956,573573,26321,1.67916e+06,228128,1.45103e+06,1.25468e+06,104847,1.14984e+06,104847,2833,92318,2239,7457
Jambi,0,0,3307,0,0,0,8191,1230,6961,0,0,0,1230,600,607,23,0
Jabar,0,0,83805,1633,363033,7351,542969,52820,485626,351173,40403,308743,36905,6011,29577,1024,293
Jateng,13736,3837,33330,1894,0,0,0,0,0,0,0,0,39009,4398,29499,2873,2239
Jatim,0,0,47936,822,922301,117052,0,0,0,438292,52242,386050,52242,1008,46652,3758,824
Kalbar,18107,1084,0,0,0,0,0,0,0,0,0,0,1648,0,1331,20,297
Kaltim,0,0,78357,0,0,0,0,0,0,91544,13975,77569,13975,2707,10796,472,0
Kalteng,0,0,5161,77,0,0,0,0,0,20795,4297,0,4297,291,3855,151,0
Kalsel,5091,987,0,0,0,0,0,0,0,0,0,0,11808,598,10727,483,0
Kaltara,0,0,3817,46,0,0,4160,4160,4160,4988,828,4160,828,133,688,7,0
Kepri,0,0,0,0,0,0,0,0,0,0,0,0,3711,919,2698,94,0
NTB,0,0,12345,64,0,0,35335,5908,29415,33349,3922,29415,3966,482,3263,221,0
Sumsel,0,0,22054,328,45307,1146,0,0,0,35708,7787,22577,7787,361,6336,412,678
Sumbar,10210,1466,488,0,0,0,282903,18870,264033,214249,14283,199966,14283,508,10125,268,3382
Sulut,0,0,0,0,895,114,0,0,0,0,0,0,5388,642,4542,204,0
Sumut,0,0,0,0,0,0,0,0,0,0,0,0,13014,1865,10619,530,0
Sultra,14046,215,0,0,0,0,0,0,0,20180,4926,15254,4926,1082,3763,81,0
Sulsel,0,0,11339,237,0,0,0,0,0,0,0,0,18345,681,16444,467,753
Sulteng,1810,232,0,0,0,0,0,0,0,0,0,0,855,193,628,34,0
Lampung,0,0,3780,125,0,0,0,0,0,0,0,0,1794,571,1149,74,0
Riau,97580,2508,45461,0,63384,868,0,0,0,144252,14671,129581,14671,597,11006,331,2737
Malut,820,674,0,0,0,0,0,0,0,0,0,0,2188,186,1928,74,0
Maluku,745,0,0,0,0,0,0,0,0,0,0,0,3849,592,3210,47,0
Papbar,0,0,2839,24,0,0,0,0,0,24565,4136,20429,4136,577,3494,65,0
Papua,15966,2228,0,0,0,0,54103,54103,54103,75211,9207,54103,9207,3188,5874,145,0
Sulbar,1978,152,0,0,0,0,0,0,0,0,0,0,1027,31,823,14,159
NTT,0,0,2437,8,15094,612,7344,923,5396,0,0,0,684,176,500,8,0
Gorontalo,0,0,4540,2,12634,410,12807,12807,12807,15814,3007,12807,3017,44,2891,82,0

In [6]:
# Age group
values = get_table('Tingkat Kematian!A4:L10')
df_age = pd.DataFrame(values[1:], columns=values[0])
df_age.iloc[:,[2,4,7,10]] = df_age.iloc[:,[2,4,7,10]].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)

outfile = open('files/df_age', 'wb')
pickle.dump(df_age, outfile)
outfile.close()

df_age

,Kel. Usia,Proporsi,Kasus dg data usia,Proporsi,Sembuh dg data usia,% sembuh,Proporsi,Dirawat dg data usia,% dirawat,Proporsi,Kematian dg data usia,Tingkat kematian
0,0-5,2.50%,9525,2.60%,8060,84.62%,2.70%,1361,14.29%,0.80%,104,1.09%
1,6-17,8.10%,30862,8.30%,25730,83.37%,6.40%,5015,16.25%,0.90%,117,0.38%
2,18-30,24.80%,94490,25.50%,79051,83.66%,22.00%,14972,15.84%,3.60%,467,0.49%
3,31-45,30.90%,117731,31.60%,97961,83.21%,30.00%,18069,15.35%,13.10%,1701,1.44%
4,46-59,23.40%,89156,22.90%,70991,79.63%,26.30%,13153,14.75%,38.60%,5012,5.62%
5,≥60,10.40%,39625,9.10%,28210,71.19%,12.60%,5818,14.68%,43.10%,5597,14.12%

In [7]:
# PCR
values = get_table('Copy of Data PCR - Kemenkes!B2:W36')
df_pcr = pd.DataFrame(values[1:], columns=values[0])
df_pcr = df_pcr.iloc[:,[0,2,9,10,11,12,13,14,15,16,17,18,19,20,21]]
df_pcr.iloc[:,1:12] = df_pcr.iloc[:,1:12].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_pcr.set_index('Provinsi Asal', inplace=True)
df_pcr.rename(index=abbr, inplace=True)

outfile = open('files/df_pcr', 'wb')
pickle.dump(df_pcr, outfile)
outfile.close()

df_pcr

,Jumlah Pemeriksaan Sample PCR,suspect,Jumlah PCR+TCM,Penduduk,Probable,Negatif,PR+TCM/1 jt,T,P,S,MD,Check sum,Positivity Rate,Testing Ratio
Provinsi Asal,,,,,,,,,,,,,,
Aceh,1265,2381,2295,5459891,0,1729,420,79,52,25,2,ok,4.37%,22.9
Bali,20130,3927,32378,4380824,802,22628,7391,1414,630,771,13,ok,5.88%,17.0
Banten,18283,1224,4968,1517590,7,4013,3274,149,16,131,2,ok,3.58%,27.9
Babel,3139,12701,25096,13160496,2486,13599,1907,1438,731,628,79,ok,9.56%,10.5
Bengkulu,739,1009,1317,2019848,17,485,652,125,26,89,10,ok,20.49%,4.9
DIY,10706,9379,15513,3882288,114,9717,3996,306,38,260,8,ok,3.05%,32.8
Jakarta,160240,104597,232848,10644986,1134,154048,21874,11114,4624,5865,625,ok,6.73%,14.9
Jambi,330,3930,5095,1219576,35,4171,4178,243,40,195,8,ok,5.51%,18.2
Jabar,53600,2603,330,3677894,7,0,90,117,48,69,0,ok,100.00%,1.0
Jateng,38080,65116,72585,49935858,841,44866,1453,3091,1396,1520,175,ok,6.45%,15.5
Jatim,38075,58128,53895,34940078,614,27772,1542,3482,2266,1066,150,ok,11.14%,9.0
Kalbar,1323,39583,58595,39872395,1552,30045,1470,11508,6957,3720,831,ok,27.69%,3.6
Kaltim,4642,14768,2375,5134760,50,1505,463,321,58,259,4,ok,17.58%,5.7
Kalteng,5443,1116,14519,4303979,140,7900,3373,3003,2098,723,182,ok,27.54%,3.6
Kalsel,10199,431,7304,2769156,77,3554,2638,834,446,335,53,ok,19.01%,5.3
Kaltara,1199,13097,8020,3793152,15,5238,2114,503,121,375,7,ok,8.76%,11.4
Kepri,4398,2370,1199,768505,6,789,1560,201,45,154,2,ok,20.30%,4.9
NTB,8561,8069,5439,2242198,40,3119,2426,293,44,233,16,ok,8.59%,11.6
Sumsel,18291,3688,2924,8521201,19,1979,343,188,28,148,12,ok,8.68%,11.5
Sumbar,29038,167,3876,1831880,4,2116,2116,711,466,230,15,ok,25.15%,4.0
Sulut,5565,105,374,1278764,24,0,292,719,585,103,31,ok,100.00%,1.0
Sumut,8840,8356,10325,5125622,45,5723,2014,1199,344,802,53,ok,17.32%,5.8
Sultra,508,1966,5014,5541394,8,4101,905,113,72,40,1,ok,2.68%,37.3
Sulsel,31575,3548,15742,3435430,24,10504,4582,1696,1057,632,7,ok,13.90%,7.2
Sulteng,923,1353,2143,981822,2,1635,2183,236,81,152,3,ok,12.61%,7.9
Lampung,2168,80843,10373,7128305,76,6615,1455,224,75,139,10,ok,3.28%,30.5
Riau,5739,1841,265,1405012,7,0,189,114,29,83,2,ok,100.00%,1.0
Malut,374,9592,45888,8928004,156,27575,5140,4807,2926,1718,163,ok,14.84%,6.7
Maluku,2227,1213,1372,3096976,7,836,443,186,28,153,5,ok,18.20%,5.5
Papbar,1493,64,508,2755589,10,0,184,343,116,221,6,ok,100.00%,1.0
Papua,12054,567,7755,2528794,116,5154,3067,1057,809,172,76,ok,17.02%,5.9
Sulbar,265,10965,40298,5498751,157,31471,7329,725,107,587,31,ok,2.25%,44.4
NTT,3443,9196,25213,8567923,170,17895,2943,2000,965,954,81,ok,10.05%,9.9
Gorontalo,4100,6816,14692,14703532,113,9836,999,1467,992,384,91,ok,12.98%,7.7

In [72]:
# Timeline total case each province
values = get_table('Timeline!A1:AI229')
df_total_case = pd.DataFrame(values[1:], columns=values[0])
df_total_case.iloc[:,1:] = df_total_case.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_total_case.rename(columns=abbr, inplace=True)

df_total_case.rename(columns={'Total Kasus':'Date'}, inplace=True)
df_total_case['Date'] = pd.date_range(start='03/18/2020', end='31/10/2020', freq='D')

outfile = open('files/df_total_case', 'wb')
pickle.dump(df_total_case, outfile)
outfile.close()

df_total_case

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-18,0,1,17,0,0,3,158,0,24,...,0,1,1,0,0,0,0,0,0,0
1,2020-03-19,0,1,27,0,0,5,210,0,26,...,0,1,2,0,0,0,0,0,0,0
2,2020-03-20,0,4,37,0,0,4,215,0,41,...,0,1,1,0,0,0,0,0,0,0
3,2020-03-21,0,3,43,0,0,5,267,0,55,...,0,1,1,0,0,0,0,0,0,0
4,2020-03-22,0,3,47,0,0,5,307,0,59,...,0,1,1,0,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,2020-10-27,7265,11520,9038,566,1017,3617,102678,1156,34745,...,838,1686,13998,2193,3772,3974,8785,997,667,3005
224,2020-10-28,7339,11588,9208,573,1040,3662,103522,1188,35148,...,848,1729,14251,2196,3785,4080,8910,1000,669,3007
225,2020-10-29,7373,11647,9299,578,1049,3744,104235,1219,35607,...,855,1757,14511,2196,3790,4088,8930,1000,679,3007
226,2020-10-30,7394,11712,9406,581,1081,3803,104847,1230,35927,...,855,1794,14672,2199,3790,4136,8992,1027,679,3017
227,2020-10-31,7405,11764,9490,583,1081,3835,105597,1230,36338,...,857,1825,14799,2199,3852,4149,9037,1029,681,3017

In [74]:
# Timeline daily case each province
values = get_table('Timeline!A231:AI462')
df_daily_case = pd.DataFrame(values[1:], columns=values[0])
df_daily_case = df_daily_case.fillna(0).replace('', 0)
df_daily_case.iloc[:,1:] = df_daily_case.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_daily_case.rename(columns=abbr, inplace = True)

df_daily_case.rename(columns={'Kasus Harian':'Date'}, inplace=True)
df_daily_case['Date'] = pd.date_range(start='03/15/2020', end='31/10/2020', freq='D')

outfile = open('files/df_daily_case', 'wb')
pickle.dump(df_daily_case, outfile)
outfile.close()

df_daily_case

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-15,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-16,0,0,1,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-18,0,0,4,0,0,1,30,0,12,...,0,1,1,0,0,0,0,0,0,0
4,2020-03-19,0,0,10,0,0,2,52,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2020-10-27,13,65,124,12,22,41,781,7,390,...,17,40,246,1,33,83,0,9,14,2
227,2020-10-28,74,68,170,7,23,45,844,32,403,...,10,43,253,3,13,106,125,3,2,2
228,2020-10-29,34,59,91,5,9,82,713,31,459,...,7,28,260,0,5,8,20,0,10,0
229,2020-10-30,21,65,107,3,32,59,612,11,320,...,0,37,161,3,0,48,62,27,0,10
230,2020-10-31,11,52,84,2,0,32,750,0,411,...,2,31,127,0,62,13,45,2,2,0

In [75]:
# Timeline active case each province
values = get_table('Timeline!A464:AI689')
df_active_case = pd.DataFrame(values[1:], columns=values[0])
df_active_case = df_active_case.fillna(0).replace('', 0)
df_active_case.iloc[:,1:] = df_active_case.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_active_case.rename(columns=abbr, inplace=True)

df_active_case.rename(columns={'Kasus Aktif':'Date'}, inplace=True)
df_active_case['Date'] = pd.date_range(start='03/21/2020', end='31/10/2020', freq='D')

outfile = open('files/df_active_case', 'wb')
pickle.dump(df_active_case, outfile)
outfile.close()

df_active_case

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-21,0,2,40,0,0,4,227,0,47,...,0,1,1,0,0,0,0,0,0,0
1,2020-03-22,0,1,43,0,0,4,256,0,45,...,0,1,1,0,1,0,2,0,0,0
2,2020-03-23,0,4,52,0,0,4,301,1,45,...,0,1,1,1,1,0,2,0,0,0
3,2020-03-24,0,4,60,0,0,4,370,1,45,...,0,1,2,1,1,0,3,0,0,0
4,2020-03-25,0,7,62,0,0,14,409,1,58,...,0,1,1,1,1,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,2020-10-27,1968,781,1841,64,184,557,11473,592,9897,...,202,677,3482,191,605,553,4063,169,211,81
221,2020-10-28,2036,811,1916,56,204,559,11254,591,9927,...,201,682,3465,193,580,537,4144,170,199,83
222,2020-10-29,2070,812,1927,59,208,589,10875,603,9894,...,197,661,3498,193,557,530,4164,170,207,77
223,2020-10-30,2088,766,1850,62,230,587,10396,600,9854,...,193,673,3404,196,557,577,4226,190,174,85
224,2020-10-31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
# Timeline total recovered each province
values = get_table('Timeline!A691:AI916')
df_total_recovered = pd.DataFrame(values[1:], columns=values[0])
df_total_recovered = df_total_recovered.fillna(0).replace('', 0)
df_total_recovered.iloc[:,1:] = df_total_recovered.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_total_recovered.rename(columns=abbr, inplace=True)

df_total_recovered.rename(columns={'Sembuh':'Date'}, inplace=True)
df_total_recovered['Date'] = pd.date_range(start='03/21/2020', end='31/10/2020', freq='D')

outfile = open('files/df_total_recovered', 'wb')
pickle.dump(df_total_recovered, outfile)
outfile.close()

df_total_recovered

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-21,0,0,1,0,0,1,17,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-22,0,0,1,0,0,1,22,0,5,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-23,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-24,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-25,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,2020-10-27,5037,10361,6936,495,785,2971,89017,542,24140,...,603,941,10203,1928,3120,3358,4598,816,449,2839
221,2020-10-28,5037,10397,7030,510,788,3013,90064,574,24507,...,613,977,10467,1928,3158,3478,4637,816,463,2839
222,2020-10-29,5037,10453,7108,512,793,3064,91142,593,24999,...,624,1023,10688,1928,3186,3493,4637,816,465,2845
223,2020-10-30,5037,10561,7290,512,803,3124,92219,607,25355,...,628,1047,10937,1928,3186,3494,4637,823,498,2847
224,2020-10-31,5037,10624,7422,524,803,3147,93251,619,25644,...,647,1047,11162,1928,3232,3601,4637,826,498,2852

In [77]:
# Timeline daily recovered each province
values = get_table('Timeline!A918:AI1143')
df_daily_recovered = pd.DataFrame(values[1:], columns=values[0])
df_daily_recovered = df_daily_recovered.fillna(0).replace('', 0)
df_daily_recovered.iloc[:,1:] = df_daily_recovered.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_daily_recovered.rename(columns=abbr, inplace=True)

df_daily_recovered.rename(columns={'Sembuh Harian':'Date'}, inplace=True)
df_total_recovered['Date'] = pd.date_range(start='03/21/2020', end='31/10/2020', freq='D')

outfile = open('files/df_daily_recovered', 'wb')
pickle.dump(df_daily_recovered, outfile)
outfile.close()

df_daily_recovered

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,0,0,0,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,0,0,0,0,0,5,0,4,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,27 Oct,0,76,101,13,12,32,1134,21,555,...,13,0,298,0,37,265,0,32,6,1
221,28 Oct,0,36,94,15,3,42,1047,32,367,...,10,36,264,0,38,120,39,0,14,0
222,29 Oct,0,56,78,2,5,51,1078,19,492,...,11,46,221,0,28,15,0,0,2,6
223,30 Oct,0,108,182,0,10,60,1077,14,356,...,4,24,249,0,0,1,0,7,33,2
224,31 Oct,0,63,132,12,0,23,1032,12,289,...,19,0,225,0,46,107,0,3,0,5

In [78]:
# Timeline total death each province
values = get_table('Timeline!A1145:AI1373')
df_total_death = pd.DataFrame(values[1:], columns=values[0])
df_total_death = df_total_death.fillna(0).replace('', 0)
df_total_death.iloc[:,1:] = df_total_death.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_total_death.rename(columns=abbr, inplace=True)

df_total_death.rename(columns={'Meninggal Dunia':'Date'}, inplace=True)
df_total_death['Date'] = pd.date_range(start='03/18/2020', end='31/10/2020', freq='D')

outfile = open('files/df_total_death', 'wb')
pickle.dump(df_total_death, outfile)
outfile.close()

df_total_death

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-18,0,1,1,0,0,0,12,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-19,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-20,0,1,1,0,0,0,18,0,7,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-21,0,1,2,0,0,0,23,0,7,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-22,0,2,3,0,0,0,29,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,2020-10-27,260,378,261,7,48,89,2188,22,708,...,33,68,313,74,47,63,124,12,7,85
224,2020-10-28,266,380,262,7,48,90,2204,23,714,...,34,70,319,75,47,65,129,14,7,85
225,2020-10-29,266,382,264,7,48,91,2218,23,714,...,34,73,325,75,47,65,129,14,7,85
226,2020-10-30,269,385,266,7,48,92,2232,23,718,...,34,74,331,75,47,65,129,14,7,85
227,2020-10-31,270,287,269,7,49,93,2251,23,719,...,34,76,336,75,47,65,129,14,7,85

In [90]:
# Timeline daily death each province
values = get_table('Timeline!A1375:AI1599')
df_daily_death = pd.DataFrame(values[1:], columns=values[0])
df_daily_death = df_daily_death.fillna(0).replace('', 0)
df_daily_death.iloc[:,1:] = df_daily_death.iloc[:,1:].replace(',','', regex=True).apply(pd.to_numeric).fillna(0)
df_daily_death.rename(columns=abbr, inplace=True)

df_daily_death.rename(columns={'Meninggal Dunia Harian':'Date'}, inplace=True)
date_list = pd.date_range(start='03/21/2020', end='31/10/2020', freq='D')
date_list = date_list.drop(dt.datetime.strptime('2020-08-19', '%Y-%m-%d'))
df_daily_death['Date'] = date_list

outfile = open('files/df_daily_death', 'wb')
pickle.dump(df_daily_death, outfile)
outfile.close()

df_daily_death

,Date,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,2020-03-21,0,0,1,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-03-22,0,1,1,0,0,0,6,0,2,...,0,0,0,0,0,0,0,0,0,0
2,2020-03-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-03-24,0,0,1,0,0,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2020-03-25,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,2020-10-27,4,4,0,0,0,1,11,1,14,...,0,4,6,0,2,0,0,0,0,0
220,2020-10-28,6,2,1,0,0,1,16,1,6,...,1,2,6,1,0,2,5,2,0,0
221,2020-10-29,0,2,2,0,0,1,14,0,0,...,0,3,6,0,0,0,0,0,0,0
222,2020-10-30,3,3,2,0,0,1,14,0,4,...,0,1,6,0,0,0,0,0,0,0
223,2020-10-31,1,2,3,0,1,1,19,0,1,...,0,2,5,0,0,0,0,0,0,0

# *Other sources*
- Commute index: https://sirusa.bps.go.id/sirusa/index.php/dasar/view?kd=1545&th=2019 (page 56,72)
- PCR: https://databoks.katadata.co.id/datapublish/2020/09/30/rasio-tes-pcr-per-1-juta-penduduk-paling-tinggi-di-jakarta# (29 September 2020)