# *Import Libraries*

In [1]:
import pandas as pd

# *Load Spreadsheet*
Data is loaded from kawal Covid19:
- https://docs.google.com/spreadsheets/d/1yu1tnqVAIi6NxujAB0Cx-JBee3WAG5AofiBSj5KKRk8/edit#gid=387345074
- https://datawrapper.dwcdn.net/MwHOx/247/
- https://datawrapper.dwcdn.net/BA77E/183/
- https://datawrapper.dwcdn.net/0p5op/157/

In [2]:
from __future__ import print_function
import pickle
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request


def get_table(area):
    # If modifying these scopes, delete the file token.pickle.
    SCOPES = ['https://www.googleapis.com/auth/spreadsheets.readonly']

    # The ID and range of a sample spreadsheet.
    SAMPLE_SPREADSHEET_ID = '1yu1tnqVAIi6NxujAB0Cx-JBee3WAG5AofiBSj5KKRk8'
    SAMPLE_RANGE_NAME = area
    
    """Shows basic usage of the Sheets API.
    Prints values from a sample spreadsheet.
    """
    creds = None
    # The file token.pickle stores the user's access and refresh tokens, and is
    # created automatically when the authorization flow completes for the first
    # time.
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    # If there are no (valid) credentials available, let the user log in.
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'credentials.json', SCOPES)
            creds = flow.run_local_server(port=0)
        # Save the credentials for the next run
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)


    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                range=SAMPLE_RANGE_NAME).execute()
    values = result.get('values', [])
    
    return values

In [37]:
# Daily statistics
values = get_table('Statistik Harian!A1:AJ241')
df_statistics = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_statistics', 'wb')
pickle.dump(df_statistics, outfile)
outfile.close()

df_statistics

,,Kasus baru,Kasus Impor,Kasus Lokal,Total kasus,Kasus aktif,% kasus aktif,Sembuh\n(baru),Sembuh,Tingkat kesembuhan (seluruh kasus),...,Test/Positif,Jumlah org yg dites / positif,Jumlah Test/Positif harian,Positif / Jumlah Tes,Positive rate harian,Case Growth Rate,Positive rate mingguan,Jumlah spesimen diperiksa (rata-rata 7 hari),Jumlah orang diperiksa (rata-rata 7 hari),Rasio spesimen/orang diperiksa (rata-rata 7 hari)
0,2-Mar,2,0,2,2,2,100.00%,0,0,0.00%,...,169.50,169.50,0.00,0.59%,None,None,None,None,None,None
1,3-Mar,0,0,0,2,2,100.00%,0,0,0.00%,...,170.50,170.50,#DIV/0!,0.59%,0.00%,0.00%,None,None,None,None
2,4-Mar,0,0,0,2,2,100.00%,0,0,0.00%,...,186.00,186.00,#DIV/0!,0.54%,0.00%,0.00%,None,None,None,None
3,5-Mar,0,0,0,2,2,100.00%,0,0,0.00%,...,194.00,194.00,#DIV/0!,0.52%,0.00%,0.00%,None,None,None,None
4,6-Mar,2,0,2,4,4,100.00%,0,0,0.00%,...,112.50,112.50,31.00,0.89%,3.77%,100.00%,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,24-Oct,4070,,,385980,"63,556",16.47%,"4,119","309,219",80.11%,...,11.12,7.02,7.73,14.24%,12.94%,1.07%,13.74%,"39,056","29,334",1.33
236,25-Oct,3732,,,389712,"62,649",16.08%,"4,545","313,764",80.51%,...,11.10,7.01,5.09,14.27%,19.65%,0.97%,13.79%,"38,687","28,845",1.34
237,26-Oct,3222,,,392934,"61,851",15.74%,"3,908","317,672",80.85%,...,11.07,7.00,5.91,14.29%,16.92%,0.83%,14.15%,"36,995","27,964",1.32
238,27-Oct,3520,,,396454,"60,694",15.31%,"4,576","322,248",81.28%,...,11.07,7.01,8.15,14.27%,12.26%,0.90%,14.17%,"37,910","27,841",1.36
239,28-Oct,4029,,,400483,"61,078",15.25%,"3,545","325,793",81.35%,...,11.06,7.00,6.79,14.28%,14.73%,1.02%,14.28%,"37,480","27,376",1.37

In [64]:
# Province summary
values = get_table('Kasus per Provinsi!A2:BC37')
df_province_summary = pd.DataFrame(values[1:], columns=values[0])
df_province_summary = df_province_summary.iloc[:,[18,21,25,31,35,39,40,41,42,43,44,45,46,47,48,49,50,51]]

outfile = open('pickle files/df_province_summary', 'wb')
pickle.dump(df_province_summary, outfile)
outfile.close()

df_province_summary

,Provinsi Asal,ODP Total,PDP,Suspect Total,Probable Total,Rapid Test,Kasus (+) Rapid Test,Tes PCR (Sampel),Tes PCR (Sampel +),Tes PCR (Sampel -),Tes PCR (Kasus Baru),Result (+),Result (-),Covid19+ Total,Covid19+ Dirawat,Covid19+ Sembuh,Covid19+ \nMeninggal,Covid19+ Isolasi
0,Aceh,,,"3,544",450,,,,,,,,,"7,265","1,543","5,460",262,
1,Bali,,,,,,,,,,,,,"11,520",781,"10,361",378,
2,Banten,748,188,"20,089",39,,,,,,,,,"9,013","1,308","7,423",282,
3,Bangka Belitung,,"2,048",,,,0,,,,"6,044",566,"5,478",566,64,495,7,
4,Bengkulu,"2,989",,,,,,,,,"9,695","1,017","8,678","1,017",244,725,48,
5,DI Yogyakarta,"1,507",212,"13,714","3,947",,,,,,,,,"3,617",557,"2,971",89,
6,DKI Jakarta,,,"175,710","3,913","573,373","26,321","1,647,907","223,628","1,424,279","1,224,835","102,678","1,122,157","102,678","2,680","89,060","2,195","8,743"
7,Jambi,,,"3,289",,,,"7,897","1,156","6,741",,,,"1,156",592,542,22,
8,Jawa Barat,,,"83,061","1,595","363,033","7,351","536,891","51,669","480,735","351,173","40,403","308,743","35,447","5,931","28,171",981,364
9,Jawa Tengah,"13,721","3,840","32,771","1,846",,,,,,,,,"39,036","2,326","31,857","2,817","2,036"
10,Jawa Timur,,,"47,811",813,"1,033,319","116,684",,,,"430,686","51,506","379,180","51,506","1,025","45,950","3,704",827
11,Kalimantan Barat,"17,899","1,053",,,,,,,,,,,"1,577",0,"1,304",12,261
12,Kalimantan Timur,,,"75,835",,,,,,,"88,627","13,348","75,279","13,348","2,708","10,175",465,
13,Kalimantan Tengah,,,"5,137",77,,,,,,"20,523","4,243",,"4,243",316,"3,776",151,
14,Kalimantan Selatan,"5,091",987,,,,,,,,,,,"11,662",664,"10,521",477,
15,Kalimantan Utara,,,"3,786",46,,,"4,001","4,001","4,001","4,784",783,"4,001",783,112,664,7,
16,Kepulauan Riau,,,,,,,,,,,,,"3,534",830,"2,612",92,0
17,Nusa Tenggara Barat,,,"12,212",66,,,"35,150","5,887","29,251","33,169","3,906","29,251","3,934",490,"3,225",219,
18,Sumatera Selatan,,,"21,717",327,"45,297","1,146",,,,"33,682","7,581","21,527","7,581",396,"6,121",410,654
19,Sumatera Barat,"10,210","1,466",458,,,,"273,386","17,469","255,917","209,158","13,375","195,783","13,375",514,"8,108",249,"4,504"
20,Sulawesi Utara,,,,88,122,44,,,,,,,"5,242",598,"4,445",199,
21,Sumatera Utara,,,,,,,"53,874","12,745",,,,,"12,745","1,845","10,376",524,
22,Sulawesi Tenggara,"13,846",214,,,130,16,,,,"19,431","4,713","14,718","4,713","1,287","3,346",80,
23,Sulawesi Selatan,,,"11,339",237,,,,,,,,,"18,155",668,"16,124",451,912
24,Sulawesi Tengah,"1,810",232,,,,,,,,,,,838,202,603,33,
25,Lampung,,,"3,767",125,,,,,,,,,"1,686",518,"1,100",68,
26,Riau,"97,580","2,508","45,998",,"63,384",868,,,,"138,142","13,996","124,146","13,996",530,"10,269",313,"2,884"
27,Maluku Utara,820,674,,,,,,,,,,,"2,188",186,"1,928",74,
28,Maluku,745,,,,,,,,,,,,"3,722",555,"3,120",47,
29,Papua Barat,,,"2,773",24,,,,,,"24,085","3,974","24,085","3,974",552,"3,359",63,
30,Papua,"15,966","2,258",,,,,"54,103","54,103","54,103","70,774","9,071","54,103","9,071","3,402","5,524",145,
31,Sulawesi Barat,"1,978",152,,,,,,,,,,,988,30,784,12,162
32,Nusa Tenggara Timur,,,"2,424",8,"15,092",610,"7,086",909,"5,377",,,,669,198,464,7,
33,Gorontalo,,,"4,540",2,"12,634",410,"12,807","12,807","12,807","15,812","3,005","12,807","3,005",45,"2,878",82,
34,Total,"184,910","15,832","569,975","13,603","2,106,384","153,450","2,633,102","384,374","2,273,211","2,680,620","274,165","2,379,936","403,850","33,697","333,841","14,965","21,347"

In [35]:
# Age group
values = get_table('Tingkat Kematian!A4:L10')
df_age = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_age', 'wb')
pickle.dump(df_age, outfile)
outfile.close()

df_age

,Kel. Usia,Proporsi,Kasus dg data usia,Proporsi,Sembuh dg data usia,% sembuh,Proporsi,Dirawat dg data usia,% dirawat,Proporsi,Kematian dg data usia,Tingkat kematian
0,0-5,2.50%,"9,525",2.60%,"8,060",84.62%,2.70%,"1,361",14.29%,0.80%,104,1.09%
1,6-17,8.10%,"30,862",8.30%,"25,730",83.37%,6.40%,"5,015",16.25%,0.90%,117,0.38%
2,18-30,24.80%,"94,490",25.50%,"79,051",83.66%,22.00%,"14,972",15.84%,3.60%,467,0.49%
3,31-45,30.90%,"117,731",31.60%,"97,961",83.21%,30.00%,"18,069",15.35%,13.10%,"1,701",1.44%
4,46-59,23.40%,"89,156",22.90%,"70,991",79.63%,26.30%,"13,153",14.75%,38.60%,"5,012",5.62%
5,≥60,10.40%,"39,625",9.10%,"28,210",71.19%,12.60%,"5,818",14.68%,43.10%,"5,597",14.12%

In [34]:
# PCR
values = get_table('Copy of Data PCR - Kemenkes!J2:W37')
df_pcr = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_pcr', 'wb')
pickle.dump(df_pcr, outfile)
outfile.close()

df_pcr

,,suspect,Jumlah PCR+TCM,Penduduk,Probable,Negatif,PR+TCM/1 jt,T,P,S,MD,Check sum,Positivity Rate,Testing Ratio
0,Aceh,"2,381","2,295","5,459,891",0,"1,729",420,79,52,25,2,ok,4.37%,22.9
1,Bali,"3,927","32,378","4,380,824",802,"22,628","7,391","1,414",630,771,13,ok,5.88%,17.0
2,Bangka Belitung,"1,224","4,968","1,517,590",7,"4,013","3,274",149,16,131,2,ok,3.58%,27.9
3,Banten,"12,701","25,096","13,160,496","2,486","13,599","1,907","1,438",731,628,79,ok,9.56%,10.5
4,Bengkulu,"1,009","1,317","2,019,848",17,485,652,125,26,89,10,ok,20.49%,4.9
5,DI Yogyakarta,"9,379","15,513","3,882,288",114,"9,717","3,996",306,38,260,8,ok,3.05%,32.8
6,DKI Jakarta,"104,597","232,848","10,644,986","1,134","154,048","21,874","11,114","4,624","5,865",625,ok,6.73%,14.9
7,Gorontalo,"3,930","5,095","1,219,576",35,"4,171","4,178",243,40,195,8,ok,5.51%,18.2
8,Jambi,"2,603",330,"3,677,894",7,0,90,117,48,69,0,ok,100.00%,1.0
9,Jawa Barat,"65,116","72,585","49,935,858",841,"44,866","1,453","3,091","1,396","1,520",175,ok,6.45%,15.5
10,Jawa Tengah,"58,128","53,895","34,940,078",614,"27,772","1,542","3,482","2,266","1,066",150,ok,11.14%,9.0
11,Jawa Timur,"39,583","58,595","39,872,395","1,552","30,045","1,470","11,508","6,957","3,720",831,ok,27.69%,3.6
12,Kalimantan Barat,"14,768","2,375","5,134,760",50,"1,505",463,321,58,259,4,ok,17.58%,5.7
13,Kalimantan Selatan,"1,116","14,519","4,303,979",140,"7,900","3,373","3,003","2,098",723,182,ok,27.54%,3.6
14,Kalimantan Tengah,431,"7,304","2,769,156",77,"3,554","2,638",834,446,335,53,ok,19.01%,5.3
15,Kalimantan Timur,"13,097","8,020","3,793,152",15,"5,238","2,114",503,121,375,7,ok,8.76%,11.4
16,Kalimantan Utara,"2,370","1,199","768,505",6,789,"1,560",201,45,154,2,ok,20.30%,4.9
17,Kepulauan Riau,"8,069","5,439","2,242,198",40,"3,119","2,426",293,44,233,16,ok,8.59%,11.6
18,Lampung,"3,688","2,924","8,521,201",19,"1,979",343,188,28,148,12,ok,8.68%,11.5
19,Maluku,167,"3,876","1,831,880",4,"2,116","2,116",711,466,230,15,ok,25.15%,4.0
20,Maluku Utara,105,374,"1,278,764",24,0,292,719,585,103,31,ok,100.00%,1.0
21,Nusa Tenggara Barat,"8,356","10,325","5,125,622",45,"5,723","2,014","1,199",344,802,53,ok,17.32%,5.8
22,Nusa Tenggara Timur,"1,966","5,014","5,541,394",8,"4,101",905,113,72,40,1,ok,2.68%,37.3
23,Papua,"3,548","15,742","3,435,430",24,"10,504","4,582","1,696","1,057",632,7,ok,13.90%,7.2
24,Papua Barat,"1,353","2,143","981,822",2,"1,635","2,183",236,81,152,3,ok,12.61%,7.9
25,Riau,"80,843","10,373","7,128,305",76,"6,615","1,455",224,75,139,10,ok,3.28%,30.5
26,Sulawesi Barat,"1,841",265,"1,405,012",7,0,189,114,29,83,2,ok,100.00%,1.0
27,Sulawesi Selatan,"9,592","45,888","8,928,004",156,"27,575","5,140","4,807","2,926","1,718",163,ok,14.84%,6.7
28,Sulawesi Tengah,"1,213","1,372","3,096,976",7,836,443,186,28,153,5,ok,18.20%,5.5
29,Sulawesi Tenggara,64,508,"2,755,589",10,0,184,343,116,221,6,ok,100.00%,1.0
30,Sulawesi Utara,567,"7,755","2,528,794",116,"5,154","3,067","1,057",809,172,76,ok,17.02%,5.9
31,Sumatera Barat,"10,965","40,298","5,498,751",157,"31,471","7,329",725,107,587,31,ok,2.25%,44.4
32,Sumatera Selatan,"9,196","25,213","8,567,923",170,"17,895","2,943","2,000",965,954,81,ok,10.05%,9.9
33,Sumatera Utara,"6,816","14,692","14,703,532",113,"9,836",999,"1,467",992,384,91,ok,12.98%,7.7
34,Indonesia,"62,370","770,600","273,492,454","5,829","402,626","2,818","54,010","28,320","22,936","2,754",ok,11.83%,8.5

In [33]:
# Timeline total case each province
values = get_table('Timeline!A1:AI225')
df_total_case = pd.DataFrame(values[1:], columns=values[0])

outfile = open('pickle files/df_total_case', 'wb')
pickle.dump(df_total_case, outfile)
outfile.close()

df_total_case

,Total Kasus,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,18-Mar,0,1,17,0,0,3,158,0,24,...,0,1,1,0,0,0,0,0,0,0
1,19-Mar,0,1,27,0,0,5,210,0,26,...,0,1,2,0,0,0,0,0,0,0
2,20-Mar,0,4,37,0,0,4,215,0,41,...,0,1,1,0,0,0,0,0,0,0
3,21-Mar,0,3,43,0,0,5,267,0,55,...,0,1,1,0,0,0,0,0,0,0
4,22-Mar,0,3,47,0,0,5,307,0,59,...,0,1,1,0,1,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,23 Oct,"7,037","11,203","8,458",544,961,"3,462","99,158","1,092","33,147",...,787,"1,522","12,877","2,187","3,650","3,858","8,512",971,634,"2,975"
220,24 Oct,"7,125","11,279","8,563",549,969,"3,506","100,220","1,118","33,568",...,799,"1,551","13,257","2,188","3,718","3,879","8,569",978,649,"2,982"
221,25 Oct,"7,212","11,388","8,794",553,995,"3,550","100,991","1,140","33,924",...,817,"1,601","13,547","2,188","3,739","3,885","8,618",987,652,"3,001"
222,26 Oct,"7,252","11,455","8,914",554,995,"3,576","101,897","1,149","34,355",...,821,"1,646","13,752","2,192","3,739","3,891","8,785",988,653,"3,003"
223,27 Oct,"7,265","11,520","9,038",566,"1,017","3,617","102,678","1,156","34,745",...,838,"1,686","13,998","2,193","3,772","3,974","8,785",997,667,"3,005"

In [32]:
# Timeline daily case each province
values = get_table('Timeline!A228:AI456')
df_daily_case = pd.DataFrame(values[1:], columns=values[0])
df_daily_case = df_daily_case.fillna(0).replace('', 0)

outfile = open('pickle files/df_daily_case', 'wb')
pickle.dump(df_daily_case, outfile)
outfile.close()

df_daily_case

,Kasus Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,15-Mar,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16-Mar,0,0,1,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
2,17-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18-Mar,0,0,4,0,0,1,30,0,12,...,0,1,1,0,0,0,0,0,0,0
4,19-Mar,0,0,10,0,0,2,52,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,24 Oct,88,76,105,5,8,44,"1,062",26,421,...,12,29,380,1,68,21,57,7,15,7
224,25 Oct,87,109,231,4,26,44,771,22,356,...,18,50,290,0,21,6,49,9,3,19
225,26 Oct,40,67,120,1,0,26,906,9,431,...,4,45,205,4,0,6,167,1,1,2
226,27 Oct,13,65,124,12,22,41,781,7,390,...,17,40,246,1,33,83,0,9,14,2
227,28 Oct,74,68,170,7,23,45,844,32,403,...,10,43,253,3,13,106,125,3,2,2

In [31]:
# Timeline active case each province
values = get_table('Timeline!A228:AI456')
df_active_case = pd.DataFrame(values[1:], columns=values[0])
df_active_case = df_active_case.fillna(0).replace('', 0)

outfile = open('pickle files/df_active_case', 'wb')
pickle.dump(df_active_case, outfile)
outfile.close()

df_active_case

,Kasus Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,15-Mar,0,0,0,0,0,0,19,0,0,...,0,0,0,0,0,0,0,0,0,0
1,16-Mar,0,0,1,0,0,0,14,0,1,...,0,0,0,0,0,0,0,0,0,0
2,17-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,18-Mar,0,0,4,0,0,1,30,0,12,...,0,1,1,0,0,0,0,0,0,0
4,19-Mar,0,0,10,0,0,2,52,0,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,24 Oct,88,76,105,5,8,44,"1,062",26,421,...,12,29,380,1,68,21,57,7,15,7
224,25 Oct,87,109,231,4,26,44,771,22,356,...,18,50,290,0,21,6,49,9,3,19
225,26 Oct,40,67,120,1,0,26,906,9,431,...,4,45,205,4,0,6,167,1,1,2
226,27 Oct,13,65,124,12,22,41,781,7,390,...,17,40,246,1,33,83,0,9,14,2
227,28 Oct,74,68,170,7,23,45,844,32,403,...,10,43,253,3,13,106,125,3,2,2

In [30]:
# Timeline total recovered each province
values = get_table('Timeline!A682:AI904')
df_total_recovered = pd.DataFrame(values[1:], columns=values[0])
df_total_recovered = df_total_recovered.fillna(0).replace('', 0)

outfile = open('pickle files/df_total_recovered', 'wb')
pickle.dump(df_total_recovered, outfile)
outfile.close()

df_total_recovered

,Sembuh,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,1,0,0,1,17,0,1,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,0,1,0,0,1,22,0,5,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,1,0,0,1,23,0,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,24 Oct,"5,037","10,144","6,455",473,760,"2,842","85,492",447,"22,676",...,519,939,"9,097","1,928","2,926","2,836","4,533",763,443,"2,817"
218,25 Oct,"5,037","10,226","6,574",475,768,"2,910","86,721",501,"23,143",...,558,941,"9,654","1,928","3,024","3,075","4,533",784,443,"2,835"
219,26 Oct,"5,037","10,285","6,835",482,773,"2,939","87,883",521,"23,585",...,590,941,"9,905","1,928","3,083","3,093","4,598",784,443,"2,838"
220,27 Oct,"5,037","10,361","6,936",495,785,"2,971","89,017",542,"24,140",...,603,941,"10,203","1,928","3,120","3,358","4,598",816,449,"2,839"
221,28 Oct,"5,037","10,397","7,030",510,788,"3,013","90,064",574,"24,507",...,613,977,"10,467","1,928","3,158","3,478","4,637",816,463,"2,839"

In [29]:
# Timeline daily recovered each province
values = get_table('Timeline!A906:AI1128')
df_daily_recovered = pd.DataFrame(values[1:], columns=values[0])
df_daily_recovered = df_daily_recovered.fillna(0).replace('', 0)

outfile = open('pickle files/df_daily_recovered', 'wb')
pickle.dump(df_daily_recovered, outfile)
outfile.close()

df_daily_recovered

,Sembuh Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,0,0,0,1,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,0,0,0,0,0,5,0,4,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,24 Oct,0,89,88,2,0,36,"1,155",22,654,...,7,0,278,0,42,91,0,19,9,2
218,25 Oct,0,82,119,2,8,68,"1,229",54,467,...,39,2,557,0,98,239,0,21,0,18
219,26 Oct,0,59,261,7,5,29,"1,162",20,442,...,32,0,251,0,59,18,65,0,0,3
220,27 Oct,0,76,101,13,12,32,"1,134",21,555,...,13,0,298,0,37,265,0,32,6,1
221,28 Oct,0,36,94,15,3,42,"1,047",32,367,...,10,36,264,0,38,120,39,0,14,0

In [28]:
# Timeline total death each province
values = get_table('Timeline!A1130:AI1355')
df_total_death = pd.DataFrame(values[1:], columns=values[0])
df_total_death = df_total_death.fillna(0).replace('', 0)

outfile = open('pickle files/df_total_death', 'wb')
pickle.dump(df_total_death, outfile)
outfile.close()

df_total_death

,Meninggal Dunia,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,18-Mar,0,1,1,0,0,0,12,0,1,...,0,0,0,0,0,0,0,0,0,0
1,19-Mar,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20-Mar,0,1,1,0,0,0,18,0,7,...,0,0,0,0,0,0,0,0,0,0
3,21-Mar,0,1,2,0,0,0,23,0,7,...,0,0,0,0,0,0,0,0,0,0
4,22-Mar,0,2,3,0,0,0,29,0,9,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,24 Oct,250,371,250,7,47,88,"2,146",21,668,...,33,61,300,74,45,61,119,12,7,81
221,25 Oct,251,372,258,7,48,88,"2,164",21,679,...,33,61,303,74,45,61,119,12,7,85
222,26 Oct,256,374,261,7,48,88,"2,177",21,694,...,33,64,307,74,45,63,124,12,7,85
223,27 Oct,260,378,261,7,48,89,"2,188",22,708,...,33,68,313,74,47,63,124,12,7,85
224,28 Oct,266,380,262,7,48,90,"2,204",23,714,...,34,70,319,75,47,65,129,14,7,85

In [27]:
# Timeline total death each province
values = get_table('Timeline!A1357:AI1578')
df_daily_death = pd.DataFrame(values[1:], columns=values[0])
df_daily_death = df_daily_death.fillna(0).replace('', 0)

outfile = open('pickle files/df_daily_death', 'wb')
pickle.dump(df_daily_death, outfile)
outfile.close()

df_daily_death

,Meninggal Dunia Harian,Aceh,Bali,Banten,Babel,Bengkulu,DIY,Jakarta,Jambi,Jabar,...,Sulteng,Lampung,Riau,Malut,Maluku,Papbar,Papua,Sulbar,NTT,Gorontalo
0,21-Mar,0,0,1,0,0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,0
1,22-Mar,0,1,1,0,0,0,6,0,2,...,0,0,0,0,0,0,0,0,0,0
2,23-Mar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,24-Mar,0,0,1,0,0,1,2,0,1,...,0,0,0,0,0,0,0,0,0,0
4,25-Mar,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,24 Oct,6,10,2,0,1,0,20,0,19,...,2,3,9,0,1,2,0,0,0,0
217,25 Oct,1,1,8,0,1,0,18,0,11,...,0,0,3,0,0,0,0,0,0,4
218,26 Oct,5,2,3,0,0,0,13,0,15,...,0,3,4,0,0,2,5,0,0,0
219,27 Oct,4,4,0,0,0,1,11,1,14,...,0,4,6,0,2,0,0,0,0,0
220,28 Oct,6,2,1,0,0,1,16,1,6,...,1,2,6,1,0,2,5,2,0,0