# *Import Libraries*

In [ ]:
import pandas as pd
import pickle

# *Define functions*

In [11]:
def load_pickle(file_name):
    infile = open(file_name, 'rb')
    df = pickle.load(infile)
    infile.close()
    return df

# *Load data*
## Dictionary
- CFR = Case Fatality Ratio -> Death / Total Case
- RI = Recovery Index -> Recovered / Total Case
- RLI = Rasio Lacak Isolasi -> (OTG + ODP + Suspect + Probable)/Total Case

In [22]:
df_province_summary = load_pickle('pickle files/df_province_summary')
df_pcr = load_pickle('pickle files/df_pcr')
df_active_case = load_pickle('pickle files/df_active_case')

df_daily_case = load_pickle('pickle files/df_daily_case')
df_daily_death = load_pickle('pickle files/df_daily_death')
df_daily_recovered = load_pickle('pickle files/df_daily_recovered')

df_total_case = load_pickle('pickle files/df_total_case')
df_total_death = load_pickle('pickle files/df_total_death')
df_total_recovered = load_pickle('pickle files/df_total_recovered')

In [23]:
df_pcr
df_province_summary

,Provinsi Asal,ODP Total,PDP,Suspect Total,Probable Total,Rapid Test,Kasus (+) Rapid Test,Tes PCR (Sampel),Tes PCR (Sampel +),Tes PCR (Sampel -),Tes PCR (Kasus Baru),Result (+),Result (-),Covid19+ Total,Covid19+ Dirawat,Covid19+ Sembuh,Covid19+ \nMeninggal,Covid19+ Isolasi
0,Aceh,,,"3,544",450,,,,,,,,,"7,265","1,543","5,460",262,
1,Bali,,,,,,,,,,,,,"11,520",781,"10,361",378,
2,Banten,748,188,"20,089",39,,,,,,,,,"9,013","1,308","7,423",282,
3,Bangka Belitung,,"2,048",,,,0,,,,"6,044",566,"5,478",566,64,495,7,
4,Bengkulu,"2,989",,,,,,,,,"9,695","1,017","8,678","1,017",244,725,48,
5,DI Yogyakarta,"1,507",212,"13,714","3,947",,,,,,,,,"3,617",557,"2,971",89,
6,DKI Jakarta,,,"175,710","3,913","573,373","26,321","1,647,907","223,628","1,424,279","1,224,835","102,678","1,122,157","102,678","2,680","89,060","2,195","8,743"
7,Jambi,,,"3,289",,,,"7,897","1,156","6,741",,,,"1,156",592,542,22,
8,Jawa Barat,,,"83,061","1,595","363,033","7,351","536,891","51,669","480,735","351,173","40,403","308,743","35,447","5,931","28,171",981,364
9,Jawa Tengah,"13,721","3,840","32,771","1,846",,,,,,,,,"39,036","2,326","31,857","2,817","2,036"
10,Jawa Timur,,,"47,811",813,"1,033,319","116,684",,,,"430,686","51,506","379,180","51,506","1,025","45,950","3,704",827
11,Kalimantan Barat,"17,899","1,053",,,,,,,,,,,"1,577",0,"1,304",12,261
12,Kalimantan Timur,,,"75,835",,,,,,,"88,627","13,348","75,279","13,348","2,708","10,175",465,
13,Kalimantan Tengah,,,"5,137",77,,,,,,"20,523","4,243",,"4,243",316,"3,776",151,
14,Kalimantan Selatan,"5,091",987,,,,,,,,,,,"11,662",664,"10,521",477,
15,Kalimantan Utara,,,"3,786",46,,,"4,001","4,001","4,001","4,784",783,"4,001",783,112,664,7,
16,Kepulauan Riau,,,,,,,,,,,,,"3,534",830,"2,612",92,0
17,Nusa Tenggara Barat,,,"12,212",66,,,"35,150","5,887","29,251","33,169","3,906","29,251","3,934",490,"3,225",219,
18,Sumatera Selatan,,,"21,717",327,"45,297","1,146",,,,"33,682","7,581","21,527","7,581",396,"6,121",410,654
19,Sumatera Barat,"10,210","1,466",458,,,,"273,386","17,469","255,917","209,158","13,375","195,783","13,375",514,"8,108",249,"4,504"
20,Sulawesi Utara,,,,88,122,44,,,,,,,"5,242",598,"4,445",199,
21,Sumatera Utara,,,,,,,"53,874","12,745",,,,,"12,745","1,845","10,376",524,
22,Sulawesi Tenggara,"13,846",214,,,130,16,,,,"19,431","4,713","14,718","4,713","1,287","3,346",80,
23,Sulawesi Selatan,,,"11,339",237,,,,,,,,,"18,155",668,"16,124",451,912
24,Sulawesi Tengah,"1,810",232,,,,,,,,,,,838,202,603,33,
25,Lampung,,,"3,767",125,,,,,,,,,"1,686",518,"1,100",68,
26,Riau,"97,580","2,508","45,998",,"63,384",868,,,,"138,142","13,996","124,146","13,996",530,"10,269",313,"2,884"
27,Maluku Utara,820,674,,,,,,,,,,,"2,188",186,"1,928",74,
28,Maluku,745,,,,,,,,,,,,"3,722",555,"3,120",47,
29,Papua Barat,,,"2,773",24,,,,,,"24,085","3,974","24,085","3,974",552,"3,359",63,
30,Papua,"15,966","2,258",,,,,"54,103","54,103","54,103","70,774","9,071","54,103","9,071","3,402","5,524",145,
31,Sulawesi Barat,"1,978",152,,,,,,,,,,,988,30,784,12,162
32,Nusa Tenggara Timur,,,"2,424",8,"15,092",610,"7,086",909,"5,377",,,,669,198,464,7,
33,Gorontalo,,,"4,540",2,"12,634",410,"12,807","12,807","12,807","15,812","3,005","12,807","3,005",45,"2,878",82,
34,Total,"184,910","15,832","569,975","13,603","2,106,384","153,450","2,633,102","384,374","2,273,211","2,680,620","274,165","2,379,936","403,850","33,697","333,841","14,965","21,347"

# *Exploratory Data Analysis*
## Metrics
- p0 (Progress to Zero): https://www.medrxiv.org/content/10.1101/2020.05.21.20109298v1.full.pdf+html
- R0 (R-naught): https://www.nytimes.com/2020/04/23/world/europe/coronavirus-R0-explainer.html
- RLI (Rasio Lacak Isolasi): https://kawalcovid19.id/content/1294/serial-data-virus-korona-2-rasio-lacak-isolasi-rli-dan-korelasinya-dengan-kematian-kumulatif